[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Please see https://github.com/sloria/aiohttp-utils/issues/8
aiohttp = "<4"
aiohttp-utils = "*"
envparse = "*"
"aiohttp-jinja2" = "*"
structlog = "*"
sdc-cryptography = "*"
aiohttp-session = {extras = ["aioredis"],version = "*"}
cchardet = "*"
aiodns = "*"
"iso8601" = "*"
invoke = "*"
aioredis = "*"
python-json-logger = "*"
babel = "*"
tenacity = "*"
# Yarl 1.6 double encodes URL. Yarl is used by aiohttp and double encoding of spaces in postcodes
# e.g. (ZZ99%25209ZZ instead of ZZ99%209ZZ) breaks construction of URL with URLDispatcher url_for functionality.
yarl= "<1.6"

[dev-packages]
codecov = "*"
coverage = "*"
ipython = "*"
"flake8" = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
aiohttp-devtools = "*"
aioresponses = "*"
requests = "*"
retrying = "*"

[requires]
python_version = "3.8.6"
