    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% call onsQuestion({
        'title': question_title,
        'description': question_description
    }) %}

        {% if 'postcode' in field_messages_dict %}
            {{
                onsInput({
                    'id': 'postcode',
                    'type': 'postcode',
                    'autocomplete': 'postcode',
                    'classes': 'input--w-8',
                    'label': {
                        'text': _('UK postcode')
                    },
                    'name': 'form-enter-address-postcode',
                    'error': {
                        'text': _('Enter a valid UK postcode')
                    },
                })
            }}
        {% else %}
            {{
                onsInput({
                    'id': 'postcode',
                    'type': 'postcode',
                    'autocomplete': 'postcode',
                    'classes': 'input--w-8',
                    'label': {
                        'text': _('UK postcode')
                    },
                    'name': 'form-enter-address-postcode'
                })
            }}
        {% endif %}

    {% endcall %}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-l'
        })
    }}