{% for group, messages in messages_dict.items() %}

{% from './components/panel/_macro.njk' import onsPanel %}
{% from './components/lists/_macro.njk' import onsList %}

{% if messages | length == 1 %}
    {% set errorTitle = _('This page has an error') %}
{% else %}
    {% set errorTitle = _('This page has %(errorcount)s errors', errorcount= messages | length | string ) %}
{% endif %}

{% set itemsList = [] %}

{% for message in messages %}

{% if itemsList.append( {
                'text': message.text,
                'index': true,
                'url': '#' + message.field,
                'classes': 'js-inpagelink'
            } )
%} {% endif %}

{% endfor %}


{% if group=='ERROR' %}
{% call
    onsPanel({
        'title': errorTitle,
        'type': 'error'
    })
%}

{% autoescape false %}
    <p>{{ _('These %(startbold)smust be corrected%(endbold)s to continue.', startbold='<strong>', endbold='</strong>')|safe }}</p>
{% endautoescape %}

{{
    onsList({
        'classes': 'list--bare',
        'itemsList': itemsList
    })
}}
{% endcall %}
{% endif %}

{% endfor %}
