{% for group, messages in messages_dict.items() %}

{% from './components/panel/_macro.njk' import onsPanel %}
{% from './components/lists/_macro.njk' import onsList %}

{% if messages | length == 1 %}
    {% if page_url == '/start/' %}
        {% set errorTitle = _('There is a problem with this page') %}
    {% else %}
        {% set errorTitle = _('There is a problem with your answer') %}
    {% endif %}
{% else %}
    {% if page_url == '/start/' %}
        {% set errorTitle = _('There are %(errorcount)s problems with this page', errorcount= messages | length | string ) %}
    {% else %}
        {% set errorTitle = _('There are %(errorcount)s problems with your answer', errorcount= messages | length | string ) %}
    {% endif %}
{% endif %}

{% set itemsList = [] %}

{% for message in messages %}

{% if itemsList.append( {
                'text': message.text,
                'index': true,
                'url': '#' + message.field,
                'classes': 'js-inpagelink'
            } )
%} {% endif %}

{% endfor %}


{% if group=='ERROR' %}
{% call
    onsPanel({
        'title': errorTitle,
        'type': 'error'
    })
%}

{{
    onsList({
        'classes': 'list--bare',
        'itemsList': itemsList
    })
}}
{% endcall %}
{% endif %}

{% endfor %}
