{% for group, messages in messages_dict.items() %}

{% from "./components/panel/_macro.njk" import onsPanel %}
{% from "./components/lists/_macro.njk" import onsList %}

{% if messages | length == 1 %}
{% set errorTitle = "This page has an error" %}
{% else %}
{% set errorTitle = "This page has " + messages | length | string + " errors" %}
{% endif %}

{% set itemsList = [] %}

{% for message in messages %}

{% if itemsList.append( {
                "text": message.text,
                "index": true,
                "url": "#" + message.field,
                "classes": "js-inpagelink"
            } )
%} {% endif %}

{% endfor %}


{% if group=='ERROR' %}
{% call
    onsPanel({
        "title": errorTitle,
        "type": "error"
    })
%}

<p>These <strong>must be corrected</strong> to continue.</p>

{{
    onsList({
        "classes": "list--bare",
        "itemsList": itemsList
    })
}}
{% endcall %}
{% endif %}


  <div class="u-mt-s">


    {% if group=='INFO' %}
      {% for message in messages %}
      <div class="panel panel--simple panel--info" {% if message.type %}data-ga="error" data-ga-category="info" data-ga-action="info-message" data-ga-label="info_type = {{ message.type }}" {% endif %}>
        <div class="panel__body">
          {% for para in message.text.split('\n') %}
            <h2 class="mars">{{ para }}</h2>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    {% endif %}

  </div>
{% endfor %}

