{% from 'components/button/_macro.njk' import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}

<h1 class="u-mb-l u-fs-xxl">{{ _('Request an individual code') }}</h1>

<p>{{ _('To do the census online you need a 16 character unique access code which we have sent you in a letter.') }}</p>

<p>{{ _('If you are in a rehearsal area and don’t have a code you can get a new one.') }}</p>

{% if display_region == 'cy' or display_region == 'en' %}
    {% call
        onsPanel({
            'classes': 'u-mb-l'
        })
    %}
        {% if display_region == 'cy' %}
            <p>Mae’r dudalen hon ar gael hefyd yn Saesneg (<a href="{{ url('RequestCode:get', request_type=request_type, display_region='en') }}">English</a>).</p>
        {% else %}
            <p>This page is also available in Welsh (<a href="{{ url('RequestCode:get', request_type=request_type, display_region='cy') }}">Cymraeg</a>).</p>
        {% endif %}

    {% endcall %}
{% endif %}

{{
    onsButton({
        'type': 'button',
        'text': _('Request an individual code'),
        'classes': 'u-mb-m',
        'url': url('RequestCodeEnterAddress:get', request_type=request_type, display_region=display_region),
        'innerClasses': 'icon--chevron-right-white'
    })
}}

<h2>Before you start</h2>

<p>{{ _('You will need to provide:') }}</p>
<ul>
    <li>{{ _('your mobile phone number so we can send you the code by text') }}</li>
    <li>{{ _('your address so we can confirm you are in the rehearsal area') }}</li>
</ul>