{%- macro rhTime(params) -%}

    {%- set time_string = params.time|string -%}

    {%- if time_string|length == 3 -%}
        {% set hour = time_string[0:1] %}
    {%- else -%}
        {% set hour = time_string[0:2] %}
    {%- endif -%}

    {%- if time_string|length == 3 -%}
        {% set minutes = time_string[1:3] %}
    {%- else -%}
        {% set minutes = time_string[2:4] %}
    {%- endif -%}

    {%- if minutes != '00' -%}
        {% set minutes_display = ':' + minutes %}
    {%- endif -%}

    {%- if hour|int > 11 -%}
        {%- set am_pm = 'pm' -%}
        {%- if hour|int > 12 -%}
            {%- set hour = hour|int - 12 -%}
        {%- endif -%}
    {%- else -%}
        {%- set am_pm = 'am' -%}
    {%- endif -%}

    {{ hour }}{{ minutes_display }}{{ am_pm }}

{%- endmacro -%}

{%- macro rhOpeningTimes(params) -%}

    {%- set open_string = params.open|string -%}
    {%- set close_string = params.close|string -%}
    {%- set display_region_string = params.display_region|string -%}

    {%- if display_region_string == 'cy' -%}
        {{ rhTime({'time': open_string }) }} tan {{ rhTime({'time': close_string }) }}
    {%- else -%}
        {{ rhTime({'time': open_string }) }} to {{ rhTime({'time': close_string }) }}
    {%- endif -%}

{%- endmacro -%}

{%- macro rhEmailLink(params) -%}

    {%- set email_string = params.email|string -%}

    <a href="mailto:{{ email_string }}">{{ email_string }}</a>

{%- endmacro -%}

{% macro rhADTelephone(params) %}

    {%- set prefix_code = '44' -%}
    {%- set number = params.number -%}

    {%- if params.number.startswith('44') -%}
        {%- set number = number[2:] -%}
    {%- endif -%}

    {%- if params.number.startswith('0') -%}
        {%- set number = number[1:] -%}
    {%- endif -%}

    {%- if number|length == 9 -%}
        {%- set area_code = number[0:2] -%}
        {%- set first_three = number[2:5] -%}
        {%- set last_four = number[5:9] -%}
        <span>+{{ prefix_code }} (0){{ area_code }} {{ first_three }} {{ last_four }}</span>
    {%- elif number|length == 10 -%}
        {%- set area_code = number[0:2] -%}
        {%- set first_four = number[2:6] -%}
        {%- set last_four = number[6:10] -%}
        <span>+{{ prefix_code }} (0){{ area_code }} {{ first_four }} {{ last_four }}</span>
    {%- else -%}
        <span>{{ params.natext }}</span>
    {%- endif -%}

{% endmacro %}
