{% extends "base.html" %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}

{% set form =  {
    "method": "POST",
    "attributes": {
        "action": url('AddressConfirmation:post')
    }
} %}

    {% set address_check_form_call =
        onsRadios({
            "name": "address-check-answer",
            "radios": [
                {
                    "id": "yes",
                    "label": {
                        "text": "Yes, this address is correct"
                    },
                    "value": "Yes"
                },
                {
                    "id": "no",
                    "label": {
                        "text": "No, I need to change it"
                    },
                    "value": "No"
                }
            ]
        })
    %}

{% block main %}
    {% if messages_dict %}
        {% include "partials/messages.html" with context %}
    {% endif %}

    {% call onsQuestion({
        "title": "Is this address correct?",
        "useFieldset": true
    }) %}

    <p>
        {{ addressLine1 }}<br>
        {{ addressLine2 }}<br>
        {{ addressLine3 }}<br>
        {{ townName }}<br>
        {{ postcode }}
    </p>


        {% if 'address' in field_messages_dict %}
            {% call
                onsPanel({
                    "type": "error"
                })
            %}
            {{
                onsList({
                    "id": 'link-language',
                    "classes": 'list--bare list--errors u-mb-s',
                    "itemsList": [
                        {
                            "text": 'Select an option'
                        }
                    ]
                })
            }}
            {{ address_check_form_call }}
            {% endcall %}
        {% else %}
            {{ address_check_form_call }}
        {% endif %}

    {% endcall %}

    {{
        onsButton({
            "text": "Continue",
            "classes": "u-mt-l",
            "name": "action[save_continue]"
        })
    }}

{% endblock %}