{% if display_region == "ni" %}
    {% extends "base-ni.html" %}
    {% set form_action = url('AddressEditNI:post') %}
{% else %}
    {% extends "base-en.html" %}
    {% set form_action = url('AddressEditEN:post') %}
{% endif %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/address/_macro.njk" import onsAddressInput %}
{% from "components/button/_macro.njk" import onsButton %}

{% set form =  {
    "method": "POST",
    "attributes": {
        "action": form_action
    }
} %}

{% block main %}

    {% call onsQuestion({
        "title": "Change your address"
    }) %}
        {{ onsAddressInput({
            "id": "address",
            "legend": "Change your address",
            "line1": {
                "label": "Building and street",
                "value": addressLine1
            },
            "line2": {
                "label": "Line 2",
                "value": addressLine2
            },
            "line3": {
                "label": "Line 3",
                "value": addressLine3
            },
            "town": {
                "label": "Town or City",
                "value": townName
            },
            "postcode": {
                "label": "Postcode",
                "value": postcode
            }
        }) }}
    {% endcall %}

    {{
        onsButton({
            "text": "Save and continue",
            "classes": "u-mt-l",
            "name": "action[save_continue]"
        })
    }}


{% endblock %}