{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - Census 2021' -%}
{%- else -%}
    {%- set page_title_value = 'Census 2021' -%}
{%- endif -%}

{%- if ('/start/' in page_url) and (page_url != '/start/') and (timeout != 'true') -%}
    {%- set signout_button_value = {
            'text': 'Exit',
            'buttonStyle': 'exit',
            'url': url('StartExit:get', display_region='ni')
        }
    -%}
{%- endif -%}

{%- set footer_content = {
        'crest': true,
        'poweredBy': {
            'logo': 'nisra-logo-black-en',
            'alt': 'NISRA - Northern Ireland Statistics and Research Agency'
        },
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'Help',
                        'url': domain_url_ni + '/help/'
                    },
                    {
                        'text': 'Contact us',
                        'url': domain_url_ni + '/contact-us/'
                    }
                ]
            }
        ],
        'legal': [
            {
                'itemsList': [
                    {
                        'text': 'Cookies',
                        'url': domain_url_ni + '/cookies/'
                    },
                    {
                        'text': 'Accessibility statement',
                        'url': domain_url_ni + '/accessibility/'
                    },
                    {
                        'text': 'Privacy and data protection',
                        'url': domain_url_ni + '/privacy-and-data-protection/'
                    },
                    {
                        'text': 'Terms and conditions',
                        'url': domain_url_ni + '/terms-and-conditions/'
                    }
                ]
            }
        ],
        'copyrightDeclaration': {
            'copyright': 'Crown copyright and database rights 2020 OS 100019153.',
            'text': 'Use of address data is subject to the terms and conditions.'
        }
    }
-%}

{%- set pageConfig = {
    'title': page_title_value,
    'theme': 'census',
    'header': {
        'logo': 'nisra-logo-en',
        'logoHref': 'https://www.nisra.gov.uk/',
        'mobileLogo': 'nisra-logo-en',
        'logoAlt': 'Northern Ireland Statistics and Research Agency logo',
        'customHeaderLogo': 'nisra',
        'titleLogo': 'census-logo-en',
        'titleLogoHref': domain_url_ni,
        'titleLogoAlt': 'Census 2021',
    },
    'signoutButton': signout_button_value,
    'footer': footer_content,
    'cspNonce': cspNonce
} -%}

{%- block head -%}

    <!-- Google Analytics -->
    {%- if gtm_cont_id and gtm_auth -%}
        {%- include 'partials/gtm.html' with context -%}
    {%- endif -%}
    <!-- End Google Analytics -->

{%- endblock -%}

{%- block bodyStart -%}

    {%- if gtm_cont_id and gtm_auth -%}
        {%- include 'partials/gtm-no-script.html' with context -%}
    {%- endif -%}

{%- endblock -%}

{%- block preHeader -%}

    {%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
    {{
        onsCookiesBanner({
            "statementTitle": 'Tell us whether you accept cookies',
            "statementText": 'We use <a href="' + domain_url_ni + '/cookies' + '">cookies to collect information</a> about how you use census.gov.uk. We use this information to make the website work as well as possible and improve our services.',
            "confirmationText": 'You’ve accepted all cookies. You can <a href="' + domain_url_ni + '/cookies' + '">change your cookie preferences</a> at any time.',
            "secondaryButtonUrl": domain_url_ni + '/cookies'
        })
    }}
{%- endblock -%}
