{% extends 'layout/_template.njk' %}

{% if page_title %}
    {% set page_title_value = page_title + ' - Census 2021' %}
{% else %}
    {% set page_title_value = 'Census 2021' %}
{% endif %}

{% set page = {
    'title': page_title_value,
    'theme': 'census',
    'header': {
        'titleLogo': '/img/census-logo-en.svg',
        'titleLogoAlt': 'Census 2021',
    },
    'footer': {}
} %}

{% block head %}

    <!-- Google Analytics -->
    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        {% include 'partials/gtm.html' with context %}
    {% endif %}
    <!-- End Google Analytics -->

{% endblock %}

{% block bodyStart %}

    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        {% include 'partials/gtm-no-script.html' with context %}
    {% endif %}

{% endblock %}
