{% extends "layout/_template.njk" %}

{% set page = {
    "title": "Census 2019 Rehearsal",
    "theme": "census",
    "language": {
        "languages": [
            {
                "url": "/start/",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "allLanguages": "All languages",
                "current": true
            },
            {
                "url": "/dechrau/",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "allLanguages": "Pob iaith",
                "current": false
            }
        ]
    },
    "header": {
        "logoHref": "https://www.ons.gov.uk/",
        "titleLogo": "/img/census-logo-en.svg",
        "titleLogoAlt": "Census 2021",
        "titleLogoHref": "https://www.census.gov.uk/"
    },
    "footer": {
        "lang": "en",
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'About the census',
                        "url": '/about-census'
                    },
                    {
                        "text": 'Help with your census',
                        "url": '/help'
                    },
                    {
                        "text": 'Contact us',
                        "url": '/contact-us'
                    },
                    {
                        "text": 'Cookies',
                        "url": '/cookies'
                    },
                    {
                        "text": 'Accessibility',
                        "url": '/accessibility'
                    },
                    {
                        "text": 'Privacy policy',
                        "url": '/privacy-policy'
                    },
                    {
                        "text": 'Terms and conditions',
                        "url": '/terms-and-conditions'
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}

{% block head %}

    <!-- Google Analytics -->

    {% if analytics_ua_id %}
   <!-- Google Tag Manager -->
     <script nonce="{{ request.csp_nonce }}">
        var a = /^(.*)?\s*'usage':true\s*[^;]+(.*)?$/;
        if (document.cookie.match(a)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+'&gtm_auth=${analytics_ua_id}&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TLWR59T');
        }
     </script>

    <!-- End Google Tag Manager -->
    {% endif %}

    <!-- End Google Analytics -->

{% endblock %}
