{% extends "layout/_template.njk" %}

{% if page_title %}
    {% set page_title_value = page_title + ' - Cyfrifiad 2021' %}
{% else %}
    {% set page_title_value = 'Cyfrifiad 2021' %}
{% endif %}

{% set page = {
    "title": page_title_value,
    "theme": "census",
    "header": {
        "titleLogo": "/img/census-logo-cy.svg",
        "titleLogoAlt": "Cyfrifiad 2021",
    },
    "language": {
        "languages": [
            {
                "url": "#",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "allLanguages": "Pob iaith",
                "current": true
            }
        ]
    },
    "footer": {}
} %}

{% block head %}

    <!-- Google Analytics -->
    {% if analytics_ua_id %}
    <script nonce="{{ request.csp_nonce }}">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{analytics_ua_id}}', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
    </script>
    {% endif %}
    <!-- End Google Analytics -->

{% endblock %}
