{% extends 'layout/_template.njk' %}

{% if page_title %}
    {% set page_title_value = page_title + ' - Cyfrifiad 2021' %}
{% else %}
    {% set page_title_value = 'Cyfrifiad 2021' %}
{% endif %}

{% set page = {
    'title': page_title_value,
    'theme': 'census',
    'header': {
        'titleLogo': '/img/census-logo-cy.svg',
        'titleLogoAlt': 'Cyfrifiad 2021',
    },
    'language': {
        'languages': [
            {
                'url': '#',
                'ISOCode': 'cy',
                'text': 'Cymraeg',
                'buttonAriaLabel': 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'Dewiswch iaith',
                'allLanguages': 'Pob iaith',
                'current': true
            }
        ]
    },
    'footer': {}
} %}

{% block head %}

    <!-- Google Analytics -->

    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
   <!-- Google Tag Manager -->
     <script nonce="{{ request.csp_nonce }}">
        var a = /^(.*)?\s*'usage':true\s*[^;]+(.*)?$/;
        if (document.cookie.match(a)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+'&gtm_auth={{ gtm_auth }}&gtm_preview={{ gtm_preview }}&gtm_cookies_win={{ gtm_cookies_win }}';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TLWR59T');
        }
     </script>

    <!-- End Google Tag Manager -->
    {% endif %}

    <!-- End Google Analytics -->

{% endblock %}

{% block preHeader %}

    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PV39S5K&gtm_auth={{ gtm_auth }}&gtm_preview={{ gtm_preview }}&gtm_cookies_win={{ gtm_cookies_win }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}

{% endblock %}
