{% extends "layout/_template.njk" %}

{% set page = {
    "title": "Census 2019 Rehearsal",
    "theme": "census",
    "header": {
        "logoHref": "#",
        "titleLogo": "/img/census-logo-en.svg",
        "titleLogoAlt": "Census 2021"
    },
    "footer": {
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
} %}