{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - Census 2021' -%}
{%- else -%}
    {%- set page_title_value = 'Census 2021' -%}
{%- endif -%}

{%- if ('/start/' in page_url) and (page_url != '/start/') and (timeout != 'true') -%}
    {%- set signout_button_value = {
            'text': 'Exit',
            'buttonStyle': 'exit',
            'url': url('StartExit:get', display_region='en')
        }
    -%}
{%- endif -%}

{%- set footer_content = {
        'crest': true,
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'Help',
                        'url': domain_url_en + '/help/'
                    },
                    {
                        'text': 'Contact us',
                        'url': domain_url_en + '/contact-us/'
                    },
                    {
                        'text': 'Languages',
                        'url': domain_url_en + '/help/languages-and-accessibility/languages/'
                    },
                    {
                        'text': 'BSL and audio videos',
                        'url': domain_url_en + '/help/languages-and-accessibility/accessibility/british-sign-language/'
                    }
                ]
            }
        ],
        'legal': [
            {
                'itemsList': [
                    {
                        'text': 'Cookies',
                        'url': domain_url_en + '/cookies/'
                    },
                    {
                        'text': 'Accessibility statement',
                        'url': domain_url_en + '/accessibility-statement/'
                    },
                    {
                        'text': 'Privacy and data protection',
                        'url': domain_url_en + '/privacy-and-data-protection/'
                    },
                    {
                        'text': 'Terms and conditions',
                        'url': domain_url_en + '/terms-and-conditions/'
                    }
                ]
            }
        ],
        'copyrightDeclaration': {
            'copyright': 'Crown copyright and database rights 2020 OS 100019153.',
            'text': 'Use of address data is subject to the terms and conditions.'
        }
    }
-%}

{%- if page_url -%}
    {%- set language = { 'languages':
        [
            {
                'url': '/en' + page_url,
                'ISOCode': 'en',
                'text': 'English',
                'buttonAriaLabel': 'Language selector. Current language: English',
                'chooseLanguage': 'Choose language',
                'allLanguages': 'All languages',
                'current': true
            },
            {
                'url': '/cy' + page_url,
                'ISOCode': 'cy',
                'text': 'Cymraeg',
                'buttonAriaLabel': 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'Dewiswch iaith',
                'allLanguages': 'Pob iaith',
                'current': false
            }
        ]
}
    -%}
{%- endif -%}

{%- set pageConfig = {
    'title': page_title_value,
    'theme': 'census',
    'header': {
        'logoHref': 'https://www.ons.gov.uk/',
        'titleLogo': 'census-logo-en',
        'titleLogoHref': domain_url_en,
        'titleLogoAlt': 'Census 2021'
    },
    'cdn': {
        'url': 'https://cdn.census.gov.uk/design-system/'
    },
    'signoutButton': signout_button_value,
    'language': language,
    'footer': footer_content,
    'cspNonce': cspNonce
} -%}

{%- block head -%}

    <!-- Google Analytics -->
    {%- if gtm_cont_id and gtm_auth -%}
        {%- include 'partials/gtm.html' with context -%}
    {%- endif -%}
    <!-- End Google Analytics -->

{%- endblock -%}

{%- block bodyStart -%}

    {%- if gtm_cont_id and gtm_auth -%}
        {%- include 'partials/gtm-no-script.html' with context -%}
    {%- endif -%}

{%- endblock -%}

{%- block preHeader -%}

    {%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
    {{
        onsCookiesBanner({
            "statementTitle": 'Tell us whether you accept cookies',
            "statementText": 'We use <a href="' + domain_url_en + '/cookies' + '">cookies to collect information</a> about how you use census.gov.uk. We use this information to make the website work as well as possible and improve our services.',
            "confirmationText": 'You’ve accepted all cookies. You can <a href="' + domain_url_en + '/cookies' + '">change your cookie preferences</a> at any time.',
            "secondaryButtonUrl": domain_url_en + '/cookies'
        })
    }}
{%- endblock -%}
