{% extends 'layout/_template.njk' %}

{% if page_title %}
    {% set page_title_value = page_title + ' - Cyfrifiad 2021' %}
{% else %}
    {% set page_title_value = 'Cyfrifiad 2021' %}
{% endif %}

{% set pageConfig = {
    'title': page_title_value,
    'theme': 'census',
    'language': {
        'languages': [

            {
                'url': '#',
                'ISOCode': 'cy',
                'text': 'Cymraeg',
                'buttonAriaLabel': 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'Dewiswch iaith',
                'allLanguages': 'Pob iaith',
                'current': true
            }
        ]
    },
    'header': {
        'language': 'cy',
        'titleLogo': '/img/census-logo-cy.svg',
        'titleLogoAlt': 'Cyfrifiad 2021',
    },
    'footer': {
        'poweredBy': true,
        'lang': 'cy',
        'rows': [
            {
                'itemsList': [
                    {
                        'text': "Ynglŷn â'r cyfrifiad",
                        'url': domain_url_cy + '/ynglyn-ar-cyfrifiad/',
                        'target': '_blank'
                    },
                    {
                        'text': "Help gyda'ch cyfrifiad",
                        'url': domain_url_cy + '/help/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Cysylltu â ni',
                        'url': domain_url_cy + '/cysylltu-a-ni/',
                        'target': '_blank'
                    }
                ]
            },
            {
                'itemsList': [
                    {
                        'text': 'Cwcis',
                        'url': domain_url_cy + '/cwcis/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Hygyrchedd',
                        'url': '/dechrau/hygyrchedd/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Preifatrwydd a diogelu data',
                        'url': domain_url_cy + '/preifatrwydd-a-diogelu-data/',
                        'target': '_blank'
                    }
                ]
            }
        ]
    }
} %}

{% block head %}

    <!-- Google Analytics -->
    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        {% include 'partials/gtm.html' with context %}
    {% endif %}
    <!-- End Google Analytics -->

{% endblock %}

{% block bodyStart %}

    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        {% include 'partials/gtm-no-script.html' with context %}
    {% endif %}

{% endblock %}

{% block preHeader %}

    {% from 'components/cookies-banner/_macro.njk' import onsCookiesBanner %}
    {{
        onsCookiesBanner({
            'html': 'Rydym yn defnyddio cwcis i wella eich profiad o cyfrifiad.gov.uk',
            'primaryButtonText': 'Derbyn cwcis',
            'secondaryButtonText': 'Gosodiadau cwcis',
            'secondaryButtonUrl': domain_url_cy + '/cwcis'
        })
    }}
{% endblock %}
