{% extends 'layout/_template.njk' %}

{% if page_title %}
    {% set page_title_value = page_title + ' - Census 2021' %}
{% else %}
    {% set page_title_value = 'Census 2021' %}
{% endif %}

{% set page = {
    'title': page_title_value,
    'theme': 'census',
    'language': {
        'languages': [
            {
                'url': domain_url_en + '/start/',
                'ISOCode': 'en',
                'text': 'English',
                'buttonAriaLabel': 'Language selector. Current language: English',
                'chooseLanguage': 'Choose language',
                'allLanguages': 'All languages',
                'current': true
            },
            {
                'url': domain_url_cy + '/dechrau/',
                'ISOCode': 'cy',
                'text': 'Cymraeg',
                'buttonAriaLabel': 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'Dewiswch iaith',
                'allLanguages': 'Pob iaith',
                'current': false
            }
        ]
    },
    'header': {
        'logoHref': 'https://www.ons.gov.uk/',
        'titleLogo': '/img/census-logo-en.svg',
        'titleLogoAlt': 'Census 2021',
        'titleLogoHref': domain_url_en + '/'
    },
    'footer': {
        'poweredBy': true,
        'lang': 'en',
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'About the census',
                        'url': domain_url_en + '/about-the-census/'
                    },
                    {
                        'text': 'Help with your census',
                        'url': domain_url_en + '/help/'
                    },
                    {
                        'text': 'Contact us',
                        'url': domain_url_en + '/contact-us/'
                    }
                ]
            },
            {
                'itemsList': [
                    {
                        'text': 'Cookies',
                        'url': domain_url_en + '/cookies/'
                    },
                    {
                        'text': 'Accessibility',
                        'url': domain_url_en + '/start/accessibility/'
                    },
                    {
                        'text': 'Privacy and data protection',
                        'url': domain_url_en + '/privacy-and-data-protection/'
                    }
                ]
            }
        ]
    }
} %}

{% block head %}

    <!-- Google Analytics -->

    {% if gtm_auth and gtm_preview and gtm_cookies_win %}

        <!-- Google Tag Manager -->
        <script nonce="{{ request.csp_nonce }}">
            var a = /^(.*)?\s*'usage':true\s*[^;]+(.*)?$/;
            if (document.cookie.match(a)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth={{ gtm_auth }}&gtm_preview={{ gtm_preview }}&gtm_cookies_win={{ gtm_cookies_win }}';f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-PR9MMKG');
            }
        </script>
        <!-- End Google Tag Manager -->

    {% endif %}

    <!-- End Google Analytics -->

{% endblock %}

{% block bodyStart %}

    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PR9MMKG&gtm_auth={{ gtm_auth }}&gtm_preview={{ gtm_preview }}&gtm_cookies_win={{ gtm_cookies_win }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}

{% endblock %}

{% block preHeader %}

    {% from 'components/cookies-banner/_macro.njk' import onsCookiesBanner %}
    {{
        onsCookiesBanner({
            'html': 'We use cookies to improve your experience of census.gov.uk',
            'secondaryButtonUrl': domain_url_en + '/cookies'
        })
    }}
{% endblock %}
