{% extends "layout/_template.njk" %}

{% set page = {
    "title": "Census 2019 Rehearsal",
    "theme": "census",
    "language": {
        "languages": [
            {
                "url": "/start/",
                "ISOCode": "en",
                "text": "English",
                "buttonAriaLabel": "Language selector. Current language: English",
                "chooseLanguage": "Choose language",
                "allLanguages": "All languages",
                "current": true
            },
            {
                "url": "/dechrau/",
                "ISOCode": "cy",
                "text": "Cymraeg",
                "buttonAriaLabel": "Dewisydd iaith. Iaith gyfredol: Cymraeg",
                "chooseLanguage": "Dewiswch iaith",
                "allLanguages": "Pob iaith",
                "current": false
            }
        ]
    },
    "header": {
        "logoHref": "https://www.ons.gov.uk/",
        "titleLogo": "/img/census-logo-en.svg",
        "titleLogoAlt": "Census 2021",
        "titleLogoHref": "https://www.census.gov.uk/"
    },
    "footer": {
        "poweredBy": true,
        "lang": "en",
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'About the census',
                        "url": '/about-the-census/'
                    },
                    {
                        "text": 'Help with your census',
                        "url": '/help/'
                    },
                    {
                        "text": 'Contact us',
                        "url": '/contact-us/'
                    }
                ]
            },
            {
                "itemsList": [
                    {
                        "text": 'Cookies',
                        "url": '/cookies/'
                    },
                    {
                        "text": 'Accessibility',
                        "url": '/start/accessibility/'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": '/privacy-and-data-protection/'
                    }
                ]
            }
        ]
    }
} %}

{% block head %}

    <!-- Google Analytics -->
    {% if analytics_ua_id %}
    <script nonce="{{ request.csp_nonce }}">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{analytics_ua_id}}', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
    </script>
    {% endif %}
    <!-- End Google Analytics -->

{% endblock %}
