{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - Census 2021' -%}
{%- else -%}
    {%- set page_title_value = 'Census 2021' -%}
{%- endif -%}

{%- if page_show_signout == 'true' -%}
    {%- set signout_button_value = {
            'text': 'Exit',
            'buttonStyle': 'exit',
            'url': domain_url_en + '/en/start/save-and-exit/'
        }
    -%}
{%- endif -%}

{%- set footer_content = {
        'crest': true,
        'poweredBy': {
            "logo": 'ons-logo-black-en',
            "alt": 'Office for National Statistics'
        },
        "cols": [
            {
                "title": 'Get in touch',
                "itemsList": [
                    {
                        "text": 'Media enquiries',
                        "url": '#0'
                    },
                    {
                        "text": 'Contact us',
                        "url": domain_url_en + '/contact-us/'
                    }
                ]
            },
            {
                "title": 'Working on the census',
                "itemsList": [
                    {
                        "text": 'Local authorities',
                        "url": '#0'
                    },
                    {
                        "text": 'Community groups',
                        "url": '#0'
                    },
                    {
                        "text": 'School campaigns',
                        "url": '#0'
                    },
                    {
                        "text": 'Jobs',
                        "url": '#0'
                    }
                ]
            },
            {
                "title": 'About the census',
                "itemsList": [
                    {
                        "text": 'What is the census',
                        "url": '#0'
                    },
                    {
                        "text": 'Why you should take part',
                        "url": '#0'
                    },
                    {
                        "text": 'Census stories',
                        "url": '#0'
                    }
                ]
            }
        ],
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Cookies',
                        "url": domain_url_en + '/cookies/'
                    },
                    {
                        "text": 'Accessibility',
                        "url": domain_url_en + '/accessibility/'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": domain_url_en + '/privacy-and-data-protection/'
                    }
                ]
            }
        ]
    }
-%}

{%- if page_url -%}
    {%- set language = { 'languages':
        [
            {
                'url': '/en' + page_url,
                'ISOCode': 'en',
                'text': 'English',
                'buttonAriaLabel': 'Language selector. Current language: English',
                'chooseLanguage': 'Choose language',
                'allLanguages': 'All languages',
                'current': true
            },
            {
                'url': '/cy' + page_url,
                'ISOCode': 'cy',
                'text': 'Cymraeg',
                'buttonAriaLabel': 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'Dewiswch iaith',
                'allLanguages': 'Pob iaith',
                'current': false
            }
        ]
}
    -%}
{%- endif -%}

{%- set pageConfig = {
    'title': page_title_value,
    'theme': 'census',
    'header': {
        'titleLogo': 'census-logo-en',
        'titleLogoAlt': 'Census 2021',
    },
    'signoutButton': signout_button_value,
    'language': language,
    'footer': footer_content
} -%}

{%- block head -%}

    <!-- Google Analytics -->
    {%- if gtm_auth and gtm_preview and gtm_cookies_win -%}
        {%- include 'partials/gtm.html' with context -%}
    {%- endif -%}
    <!-- End Google Analytics -->

{%- endblock -%}

{%- block bodyStart -%}

    {%- if gtm_auth and gtm_preview and gtm_cookies_win -%}
        {%- include 'partials/gtm-no-script.html' with context -%}
    {%- endif -%}

{%- endblock -%}

{%- block preHeader -%}

    {%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
    {{
        onsCookiesBanner({
            "statementTitle": 'Tell us whether you accept cookies',
            "statementText": 'We use <a href="' + domain_url_en + '/cookies' + '">cookies to collect information</a> about how you use census.gov.uk. We use this information to make the website work as well as possible and improve our services.',
            "confirmationText": 'You’ve accepted all cookies. You can <a href="' + domain_url_en + '/cookies' + '">change your cookie preferences</a> at any time.',
            "secondaryButtonUrl": domain_url_en + '/cookies'
        })
    }}
{%- endblock -%}
