{% extends 'layout/_template.njk' %}

{% if page_title %}
    {% set page_title_value = page_title + ' - Cyfrifiad 2021' %}
{% else %}
    {% set page_title_value = 'Cyfrifiad 2021' %}
{% endif %}

{% if page_url %}
    {% set language = { 'languages':
        [
            {
                'url': '/cy' + page_url,
                'ISOCode': 'cy',
                'text': 'Cymraeg',
                'buttonAriaLabel': 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'Dewiswch iaith',
                'allLanguages': 'Pob iaith',
                'current': true
            },
            {
                'url': '/en' + page_url,
                'ISOCode': 'en',
                'text': 'English',
                'buttonAriaLabel': 'Language selector. Current language: English',
                'chooseLanguage': 'Choose language',
                'allLanguages': 'All languages',
                'current': false
            }
        ]
}
    %}
{% endif %}

{% set pageConfig = {
    'title': page_title_value,
    'theme': 'census',
    'header': {
        'language': 'cy',
        'logoHref': 'https://cy.ons.gov.uk/',
        'titleLogo': 'census-logo-cy',
        'titleLogoHref': domain_url_cy,
        'titleLogoAlt': 'Cyfrifiad 2021'
    },
    'language': language,
    'cspNonce': cspNonce
} %}

{% block head %}

    <!-- Google Analytics -->
    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        {% include 'partials/gtm.html' with context %}
    {% endif %}
    <!-- End Google Analytics -->

{% endblock %}

{% block bodyStart %}

    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        {% include 'partials/gtm-no-script.html' with context %}
    {% endif %}

{% endblock %}
