{% extends 'layout/_template.njk' %}

{% if page_title %}
    {% set page_title_value = page_title + ' - Census 2021' %}
{% else %}
    {% set page_title_value = 'Census 2021' %}
{% endif %}

{% set pageConfig = {
    'title': page_title_value,
    'theme': 'census',
    'header': {
        'logo': 'nisra-logo-en',
        'logoAlt': 'Northern Ireland Statistics and Research Agency logo',
        'titleLogo': '/img/census-logo-en.svg',
        'titleLogoAlt': 'Census 2021',
    },
    'footer': {
        'poweredBy': {
            'logo': 'nisra-logo-black-en',
            'classes': 'footer__poweredby-img--small'
        },
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'About the census',
                        'url': domain_url_en + '/ni/about-the-census/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Help with your census',
                        'url': domain_url_en + '/ni/help/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Contact us',
                        'url': domain_url_en + '/ni/contact-us/',
                        'target': '_blank'
                    }
                ]
            },
            {
                'itemsList': [
                    {
                        'text': 'Cookies',
                        'url': domain_url_en + '/ni/cookies/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Accessibility',
                        'url': domain_url_en + '/ni/start/accessibility/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Privacy and data protection',
                        'url': domain_url_en + '/ni/privacy-and-data-protection/',
                        'target': '_blank'
                    }
                ]
            }
        ]
    }
} %}

{% block head %}

    <!-- Google Analytics -->
    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        {% include 'partials/gtm.html' with context %}
    {% endif %}
    <!-- End Google Analytics -->

{% endblock %}

{% block bodyStart %}

    {% if gtm_auth and gtm_preview and gtm_cookies_win %}
        {% include 'partials/gtm-no-script.html' with context %}
    {% endif %}

{% endblock %}

{% block preHeader %}

    {% from 'components/cookies-banner/_macro.njk' import onsCookiesBanner %}
    {{
        onsCookiesBanner({
            'html': 'We use cookies to improve your experience of census.gov.uk',
            'secondaryButtonUrl': domain_url_en + '/ni/cookies'
        })
    }}
{% endblock %}
