{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - Cyfrifiad 2021' -%}
{%- else -%}
    {%- set page_title_value = 'Cyfrifiad 2021' -%}
{%- endif -%}

{%- if page_show_signout == 'true' -%}
    {%- set signout_button_value = {
            'text': 'Save and sign out',
            'ariaLabel': 'Toggle main navigation',
            'url': domain_url_en + '/cy/start/save-and-exit/'
        }
    -%}
{%- endif -%}

{%- set footer_content = {
        'poweredBy': true,
        'lang': 'cy',
        'rows': [
            {
                'itemsList': [
                    {
                        'text': "Ynglŷn â'r cyfrifiad",
                        'url': domain_url_cy + '/ynglyn-ar-cyfrifiad/',
                        'target': '_blank'
                    },
                    {
                        'text': "Help gyda'ch cyfrifiad",
                        'url': domain_url_cy + '/help/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Cysylltu â ni',
                        'url': domain_url_cy + '/cysylltu-a-ni/',
                        'target': '_blank'
                    }
                ]
            },
            {
                'itemsList': [
                    {
                        'text': 'Cwcis',
                        'url': domain_url_cy + '/cwcis/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Hygyrchedd',
                        'url': domain_url_en + '/cy/start/accessibility/',
                        'target': '_blank'
                    },
                    {
                        'text': 'Preifatrwydd a diogelu data',
                        'url': domain_url_cy + '/preifatrwydd-a-diogelu-data/',
                        'target': '_blank'
                    }
                ]
            }
        ]
    }

-%}

{%- if page_url -%}
    {%- set language = { 'languages':
        [
            {
                'url': '/cy' + page_url,
                'ISOCode': 'cy',
                'text': 'Cymraeg',
                'buttonAriaLabel': 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'Dewiswch iaith',
                'allLanguages': 'Pob iaith',
                'current': true
            },
            {
                'url': '/en' + page_url,
                'ISOCode': 'en',
                'text': 'English',
                'buttonAriaLabel': 'Language selector. Current language: English',
                'chooseLanguage': 'Choose language',
                'allLanguages': 'All languages',
                'current': false
            }
        ]
}
    -%}
{%- endif -%}

{%- set pageConfig = {
    'title': page_title_value,
    'theme': 'census',
    'language': language,
    'header': {
        'language': 'cy',
        'titleLogo': 'census-logo-cy',
        'titleLogoAlt': 'Cyfrifiad 2021',
    },
    'signoutButton': signout_button_value,
    'footer': footer_content
    }
-%}

{%- block head -%}

    <!-- Google Analytics -->
    {%- if gtm_auth and gtm_preview and gtm_cookies_win -%}
        {%- include 'partials/gtm.html' with context -%}
    {%- endif -%}
    <!-- End Google Analytics -->

{%- endblock -%}

{%- block bodyStart -%}

    {%- if gtm_auth and gtm_preview and gtm_cookies_win -%}
        {%- include 'partials/gtm-no-script.html' with context -%}
    {%- endif -%}

{%- endblock -%}

{%- block preHeader -%}

    {%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
    {{
        onsCookiesBanner({
            "statementTitle": 'Tell us whether you accept cookies',
            "statementText": 'We use <a href="' + domain_url_cy + '/cwcis' + '">cookies to collect information</a> about how you use census.gov.uk. We use this information to make the website work as well as possible and improve our services.',
            "confirmationText": 'You’ve accepted all cookies. You can <a href="' + domain_url_cy + '/cwcis' + '">change your cookie preferences</a> at any time.',
            "secondaryButtonUrl": domain_url_cy + '/cwcis'
        })
    }}
{%- endblock -%}
