{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - Cyfrifiad 2021' -%}
{%- else -%}
    {%- set page_title_value = 'Cyfrifiad 2021' -%}
{%- endif -%}

{%- if ('/start/' in page_url) and (page_url != '/start/') and (timeout != 'true') -%}
    {%- set signout_button_value = {
            'text': 'Exit',
            'buttonStyle': 'exit',
            'url': url('StartExit:get', display_region='cy')
        }
    -%}
{%- endif -%}

{%- set footer_content = {
        'lang': 'cy',
        'crest': true,
        'rows': [
            {
                'itemsList': [
                    {
                        'text': 'Help',
                        'url': domain_url_cy + '/help/'
                    },
                    {
                        'text': 'Cysylltu â ni',
                        'url': domain_url_cy + '/contact-us/'
                    }
                ]
            }
        ],
        'legal': [
            {
                'itemsList': [
                    {
                        'text': 'Cwcis',
                        'url': domain_url_cy + '/cwcis/'
                    },
                    {
                        'text': 'Hygyrchedd',
                        'url': domain_url_cy + '/hygyrchedd/'
                    },
                    {
                        'text': 'Preifatrwydd a diogelu data',
                        'url': domain_url_cy + '/preifatrwydd-a-diogelu-data/'
                    },
                    {
                        'text': 'Telerau ac amodau',
                        'url': domain_url_cy + '/telerau-ac-amodau/'
                    }
                ]
            }
        ],
        'copyrightDeclaration': {
            'copyright': 'Hawlfraint y Goron a hawliau cronfa ddata 2020 Arolwg Ordnans 100019153.',
            'text': 'Mae defnydd o ddata ar gyfeiriadau yn amodol ar y telerau ac amodau.'
        }
    }
-%}

{%- if page_url -%}
    {%- set language = { 'languages':
        [
            {
                'url': '/cy' + page_url,
                'ISOCode': 'cy',
                'text': 'Cymraeg',
                'buttonAriaLabel': 'Dewisydd iaith. Iaith gyfredol: Cymraeg',
                'chooseLanguage': 'Dewiswch iaith',
                'allLanguages': 'Pob iaith',
                'current': true
            },
            {
                'url': '/en' + page_url,
                'ISOCode': 'en',
                'text': 'English',
                'buttonAriaLabel': 'Language selector. Current language: English',
                'chooseLanguage': 'Choose language',
                'allLanguages': 'All languages',
                'current': false
            }
        ]
}
    -%}
{%- endif -%}

{%- set pageConfig = {
    'title': page_title_value,
    'theme': 'census',
    'language': language,
    'header': {
        'language': 'cy',
        'logoHref': 'https://cy.ons.gov.uk/',
        'titleLogo': 'census-logo-cy',
        'titleLogoHref': domain_url_cy,
        'titleLogoAlt': 'Cyfrifiad 2021'
    },
    'cdn': {
        'url': 'https://cdn.census.gov.uk/design-system/'
    },
    'signoutButton': signout_button_value,
    'footer': footer_content,
    'cspNonce': cspNonce
    }
-%}

{%- block head -%}

    <!-- Google Analytics -->
    {%- if gtm_cont_id and gtm_auth -%}
        {%- include 'partials/gtm.html' with context -%}
    {%- endif -%}
    <!-- End Google Analytics -->

{%- endblock -%}

{%- block bodyStart -%}

    {%- if gtm_cont_id and gtm_auth -%}
        {%- include 'partials/gtm-no-script.html' with context -%}
    {%- endif -%}

{%- endblock -%}

{%- block preHeader -%}

    {%- from 'components/cookies-banner/_macro.njk' import onsCookiesBanner -%}
    {{
        onsCookiesBanner({
            "statementTitle": 'Dywedwch wrthym a ydych yn derbyn cwcis',
            "statementText": "Rydym ni’n defnyddio <a href='" + domain_url_cy + "/cwcis" + "'>cwcis i gasglu gwybodaeth</a> am y ffordd rydych chi’n defnyddio cyfrifiad.gov.uk. Rydym ni’n defnyddio’r wybodaeth hon i sicrhau bod y wefan yn gweithio cystal â phosibl ac i wella ein gwasanaethau.",
            "confirmationText": 'Rydych chi wedi derbyn yr holl gwcis. Gallwch chi <a href="' + domain_url_cy + '/cwcis' + '">newd eich dewisiadau o ran cwcis</a> ar unrhyw adeg.',
            "secondaryButtonUrl": domain_url_cy + '/cwcis',
            'primaryButtonText': "Derbyn yr holl gwcis",
            'secondaryButtonText': "Gosod dewisiadau o ran cwcis"
        })
    }}
{%- endblock -%}
