{% extends "layout/_template.njk" %}

{% if page_title %}
    {% set page_title_value = page_title + ' - Census 2021' %}
{% else %}
    {% set page_title_value = 'Census 2021' %}
{% endif %}

{% set page = {
    "title": page_title_value,
    "theme": "census",
    "header": {
        "logo": "nisra-logo-en",
        "logoAlt": "Northern Ireland Statistics and Research Agency logo",
        "titleLogo": "/img/census-logo-en.svg",
        "titleLogoAlt": "Census 2021",
        "titleLogoHref": domain_url_en + '/ni/'
    },
    "footer": {
        "poweredBy": {
            "logo": "nisra-logo-black-en",
            "classes": "footer__poweredby-img--small"
        },
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'About the census',
                        "url": domain_url_en + '/ni/about-the-census/'
                    },
                    {
                        "text": 'Help with your census',
                        "url": domain_url_en + '/ni/help/'
                    },
                    {
                        "text": 'Contact us',
                        "url": domain_url_en + '/ni/contact-us/'
                    }
                ]
            },
            {
                "itemsList": [
                    {
                        "text": 'Cookies',
                        "url": domain_url_en + '/ni/cookies/'
                    },
                    {
                        "text": 'Accessibility',
                        "url": domain_url_en + '/ni/start/accessibility/'
                    },
                    {
                        "text": 'Privacy and data protection',
                        "url": domain_url_en + '/ni/privacy-and-data-protection/'
                    }
                ]
            }
        ]
    }
} %}

{% block head %}

    <!-- Google Analytics -->
    {% if analytics_ua_id %}
    <script nonce="{{ request.csp_nonce }}">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{analytics_ua_id}}', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
    </script>
    {% endif %}
    <!-- End Google Analytics -->

{% endblock %}

{% block preHeader %}
    {% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
    {{
        onsCookiesBanner({
            "html": 'We use cookies to improve your experience of census.gov.uk',
            "secondaryButtonUrl": domain_url_en + '/ni/cookies'
        })
    }}
{% endblock %}
