{%- extends 'base-' + display_region + '.html' -%}

{%- set messages_dict=dict(get_flashed_messages()|groupby('level')) -%}
{%- set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/input/_macro.njk' import onsInput -%}

{%- set cancel_link = url('CommonConfirmAddress:get', display_region=display_region, user_journey='requests', sub_user_journey=sub_user_journey) -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('CommonEnterRoomNumber:post', display_region=display_region, user_journey=user_journey, sub_user_journey=sub_user_journey)
    }
} -%}

{%- if 'error-room-number-len' in field_messages_dict -%}
    {%- set error_room_number = {'id': 'error-room-number-len', 'text': _('You have entered too many characters. Enter up to 10 characters')} -%}
{%- elif 'error-room-number' in field_messages_dict -%}
    {%- set error_room_number = {'id': 'error-room-number', 'text': _('Enter your flat or room number')} -%}
{%- endif -%}

{%- set question_title = _('What is your flat or room number?') -%}

{%- block main -%}

    {%- if messages_dict -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- call onsQuestion({
        'title': question_title,
    }) -%}

        {{
            onsInput({
                'id': 'form-enter-room-number',
                'classes': 'input--w-10',
                'label': {
                    'text': _('Flat or room number')
                },
                'name': 'form-enter-room-number',
                'value': room_number,
                'error': error_room_number,
                'charCheckLimit': {
                    'limit': 10,
                    'charCountOverLimitSingular': _('{x} character too many'),
                    'charCountOverLimitPlural': _('{x} characters too many'),
                    'charCountSingular': _('You have {x} character remaining'),
                    'charCountPlural': _('You have {x} characters remaining')
                }
            })
        }}

    {%- endcall -%}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mb-xl u-mt-l'
        })
    }}

    <p><a href="{{ cancel_link }}">{{ _('Cancel and return to the previous page') }}</a></p>

{%- endblock -%}
