{% extends 'base-' + display_region + '.html' %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/radios/_macro.njk' import onsRadios %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('CommonSelectAddress:post', display_region=display_region, user_journey=user_journey, sub_user_journey=sub_user_journey)
    }
} %}

{%- if total_matches == 1: -%}
    {%- set question_description = _('<p class="u-fs-r--b">%(total)s address found for postcode %(pcode)s</p>', total=total_matches|string, pcode=postcode) -%}
{%- else: -%}
    {%- set question_description = _('<p class="u-fs-r--b">%(total)s addresses found for postcode %(pcode)s</p>', total=total_matches|string, pcode=postcode) -%}
{%- endif -%}

{%- if 'error-no-address-selected' in field_messages_dict -%}
    {%- set error_select_address = {'id': 'error-no-address-selected', 'text': _('Select an address')} -%}
{%- endif -%}

{% block main %}

    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% if total_matches == 0: %}

        <h1>{{ _('Sorry, there was a problem processing your postcode') }}</h1>

        <p>{{ _('We can’t find the postcode <strong>%(pcode)s</strong>. It may not be registered on our system.', pcode=postcode)|safe }}</p>

        {% autoescape false %}
            <p>{{ _('To register your address, we need you to get in touch. You can call us free on %(telephone_number)s or %(start_contact_link)schoose another way to contact us%(end_link)s.', telephone_number=call_centre_number, start_contact_link='<a href="%s">' % contact_us_link, end_link='</a>')|safe }}</p>
        {% endautoescape %}

    {% else: %}

        {% call onsQuestion({
            'title': _('Select your address'),
            'description': question_description
        }) %}

            {{
                onsRadios({
                    'name': 'form-pick-address',
                    'or': _('Or'),
                    'radios': addresses,
                    'legend': _('Select your address'),
                    'legendClasses': 'u-vh',
                    'error': error_select_address
                })
            }}

        {% endcall %}

        {{
            onsButton({
                'text': _('Continue'),
                'classes': 'u-mt-l',
                'submitType': 'loader'
            })
        }}

    {% endif %}


{% endblock %}
