{%- extends 'base-ni.html' -%}
{%- set census_home_link = domain_url_en -%}
{%- block main -%}

    <h1 class="u-mt-l">This address is not part of the census for Northern Ireland</h1>

    <p>You have selected an address in Wales.</p>

    <p>The Office for National Statistics (ONS) runs the census in England and Wales. Visit the <a href="{{ census_home_link }}">Office for National Statistics census website</a> to find out how to take part in the census for England and Wales.</p>

    <p>Alternatively, you can <a href="{{ contact_us_link }}">contact us for help</a>.</p>

{%- endblock -%}
