{%- extends 'base-' + display_region + '.html' -%}
{%- set census_home_link = domain_url_ni -%}
{%- block main -%}

    <h1 class="u-mt-l">{{ _('You have selected an address that is part of the census in Northern Ireland') }}</h1>

    {%- autoescape false -%}
        <p>{{ _('To take part, visit the %(open)sNorthern Ireland census website%(close)s.', open='<a href="%s">' % census_home_link, close='</a>')|safe }}</p>

        <p>{{ _('Alternatively, you can %(open)scontact us%(close)s for help.', open='<a href="%s">' % contact_us_link, close='</a>')|safe }}</p>
    {%- endautoescape -%}

{%- endblock -%}
