{%- extends 'base-' + display_region + '.html' -%}

{%- set messages_dict=dict(get_flashed_messages()|groupby('level')) -%}
{%- set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/radios/_macro.njk' import onsRadios -%}

{%- set room_number_link = url('CommonEnterRoomNumber:get', display_region=display_region, user_journey='requests', sub_user_journey=sub_user_journey) -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('CommonConfirmAddress:post', display_region=display_region, user_journey=user_journey, sub_user_journey=sub_user_journey)
    }
} -%}

{%- set form_options = [
    {
        'id': 'yes',
        'label': {
            'text': _('Yes, this is the correct address')
        },
        'value': 'yes'
    },
    {
        'id': 'no',
        'label': {
            'text': _('No, search for address again')
        },
        'value': 'no'
    }
]
-%}

    {%- if 'nothing-chosen' in field_messages_dict -%}
    {%- set error_address = {'id': 'nothing-chosen', 'text': _('Select an answer')} -%}
{%- endif -%}

{%- block main -%}

    {%- if messages_dict -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- call onsQuestion({
        'title': _('Is this the correct address?')
    }) -%}

        <p class="rh-address-display">
            {%- if roomNumber -%}{{ roomNumber }}<br>{%- endif -%}
            {{ addressLine1 }}<br>
            {%- if addressLine2 -%}{{ addressLine2 }}<br>{%- endif -%}
            {%- if addressLine3 -%}{{ addressLine3 }}<br>{%- endif -%}
            {%- if townName -%}{{ townName }}<br>{%- endif -%}
            {{ postcode }}
        </p>

        {%- if (censusAddressType == 'CE') and (sub_user_journey != 'continuation-questionnaire') -%}
            {%- if roomNumber -%}
                <p><a href="{{ room_number_link }}">{{ _('Change flat or room number') }}</a></p>
            {%- else -%}
                <p><a href="{{ room_number_link }}">{{ _('Add flat or room number') }}</a></p>
            {%- endif -%}
        {%- endif -%}

        {{
            onsRadios({
                'name': 'form-confirm-address',
                'radios': form_options,
                'error': error_address
            })
        }}

    {%- endcall -%}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-l',
            'submitType': 'loader'
        })
    }}

{%- endblock -%}
