{% if display_region == "ni" %}
    {% extends "base-ni.html" %}
{% elif display_region == "cy" %}
    {% extends "base-cy.html" %}
{% else %}
    {% extends "base-en.html" %}
{% endif %}

{% block main %}

<h1 data-ga="error" data-ga-category="error" data-ga-action="error-message-shown" data-ga-label="system-error">
    Sorry, something went wrong
</h1>

<p>We are experiencing some technical problems.</p>
<p>Please try again later, or <a href="#">contact us</a> if the problem continues.</p>


{% endblock main %}