{% extends 'base-' + display_region + '.html' %}

{% if case_type == 'HI' %}
    {% set request_code_link = url('RequestCode:get', request_type='individual', display_region=display_region) %}
{% else %}
    {% set request_code_link = url('RequestCode:get', request_type='household', display_region=display_region) %}
{% endif %}

{% block main %}

<h1 class="u-mt-l" data-ga="error" data-ga-category="info" data-ga-action="info-message" data-ga-label="info_type = CODE_USED">
    {{ _('Your unique access code has expired') }}
</h1>

{% autoescape false %}
    <p>{{ _('You can %(open)srequest a new code%(close)s if you have not submitted a census yet.', open='<a href="%s">' % request_code_link, close='</a>')|safe }}</p>
{% endautoescape %}

{% endblock main %}
