{% extends 'base-' + display_region + '.html' %}

{% set request_code_link = url('CommonEnterAddress:get', display_region=display_region, user_journey='requests', sub_user_journey='access-code') %}

{% block main %}

<h1 class="u-mt-l" data-ga="error" data-ga-category="info" data-ga-action="info-message" data-ga-label="info_type = CODE_USED">
    {{ _('Your unique access code has expired') }}
</h1>

{% autoescape false %}
    <p>{{ _('You can %(open)srequest a new code%(close)s if you have not submitted a census yet.', open='<a href="%s">' % request_code_link, close='</a>')|safe }}</p>
{% endautoescape %}

{% endblock main %}
