{% if display_region == "ni" %}
    {% extends "base-ni.html" %}
{% elif display_region == "cy" %}
    {% extends "base-cy.html" %}
{% else %}
    {% extends "base-en.html" %}
{% endif %}

{% from "components/uac/_macro.njk" import onsUACInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/lists/_macro.njk" import onsList %}

{% set page = {"title": "Start Survey"} %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% set form =  {
    "method": "POST",
    "attributes": {
        "action": url('Index:post')
    }
} %}

{% set uac_input = onsUACInput({
        "id": "uac",
        "name": "uac",
        "label": {
            "text": "Enter the 16 character code printed on the letter",
            "description": "Keep this code safe and only share it with others in your household"
        },
        "securityMessage": "Your personal information is protected by law and will be kept confidential."
    })
%}

{% block main %}

    <h1 class="u-mt-l">Start survey</h1>

    {% if messages_dict %}
        {% include "partials/messages.html" with context %}
    {% endif %}

    {% if 'uac' in field_messages_dict %}
        {% call
            onsPanel({
                "type": "error"
            })
        %}
        {{
            onsList({
                "id": 'link-uac',
                "classes": 'list--bare list--errors u-mb-s',
                "itemsList": [
                    {
                        "text": 'Enter a valid code'
                    }
                ]
            })
        }}
        {{ uac_input }}
        {% endcall %}
    {% else %}
        {{ uac_input }}
    {% endif %}

    {{ onsButton({
        "text": "Access survey",
        "classes": "u-mb-xl",
        "name": "action[save_continue]"
    }) }}

    <h2 class="u-fs-r--b u-mb-no">Don't have a code?</h2>
    <p>
        You can <a href="{{ url('RequestCode:get') }}">request a new code</a> to start a new survey if you have lost, forgotten or not received an access code.
    </p>

    <h2 class="u-fs-r--b u-mb-no">Need help?</h2>

    <p><a href="{{ url('WebChat:get') }}" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=360,height=680'); return false;">Web Chat</a></p>

{% endblock %}
