{% extends "base.html" %}
{% from "components/button/_macro.njk" import onsButton %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}

{% set form =  {
    "method": "POST",
    "attributes": {
        "action": url('Index:post')
    }
} %}

{% block main %}
  {% if messages_dict %}
    {% include "partials/messages.html" with context %}
  {% endif %}

  <h1 class="u-mt-l">Enter your access code</h1>

  <div>
<!--    <form action="{{ url('Index:post') }}" class="form qa-questionnaire-form" role="form" method="post" novalidate>-->
      <div class="panel panel--simple panel--spacious {% if 'ERROR' in messages_dict %} panel--error {% else %} panel--info {% endif %} u-mb-l">
        <div class="panel__body">
          <div class="group" id="household-and-accommodation">
            <div class="block" id="access-code">
              <div class="section" id="access-code-section">
                <div class="question" id="access-code-question">
                  <div class="question__answers">
                    <div class="question__answer">
                      <div class="answer answer--integer " id="access-code-answer">
                        <div class="answer__fields js-fields">
                          <fieldset class="fieldgroup fieldgroup--date">
                            <legend class="fieldgroup__title venus">Your 16 character access code is on the letter we sent you</legend>
                            <div class="fieldgroup__fields">
                              <div class="field field--input field--code">
                                <label class="label mercury u-vh" for="iac1">Enter the first four characters of the access code</label>
                                <input pattern="^[a-zA-Z0-9]{4}$" maxlength="4" spellcheck="false" data-qa="input-text" id="iac1" name="iac1" class="input input--text" value=""
                                  type="text" autocomplete="off">
                              </div>
                              <div class="field field--input field--code">
                                <label class="label mercury u-vh" for="iac2">Enter the next four characters of the access code</label>
                                <input pattern="^[a-zA-Z0-9]{4}$" maxlength="4" spellcheck="false"  data-qa="input-text" id="iac2" name="iac2" class="input input--text" value=""
                                  type="text" autocomplete="off" >
                              </div>
                              <div class="field field--input field--code">
                                <label class="label mercury u-vh" for="iac3">Enter the next four characters of the access code</label>
                                <input pattern="^[a-zA-Z0-9]{4}$" maxlength="4"  spellcheck="false" data-qa="input-text" id="iac3" name="iac3" class="input input--text" value=""
                                  type="text" autocomplete="off" >
                              </div>
                              <div class="field field--input field--code">
                                <label class="label mercury u-vh" for="iac3">Enter the last four characters of the access code</label>
                                <input pattern="^[a-zA-Z0-9]{4}$" maxlength="4"  spellcheck="false" data-qa="input-text" id="iac4" name="iac4" class="input input--text" value=""
                                  type="text" autocomplete="off" >
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <button class="btn btn&#45;&#45;lg qa-btn-get-started" type="submit" name="action[save_continue]" data-ga="click" data-ga-category="survey" data-ga-action="launcheq" data-ga-label="survey_ref = LMS">Start now</button>-->
<!--    </form>-->
  </div>

    <p class="u-mt-m"><span class="icon--lock"></span>Your personal information is protected by law and will be kept confidential.</p>

    {{ onsButton({
        "text": "Access survey",
        "classes": "u-mb-xl",
        "name": "action[save_continue]"
    }) }}

    <h2 class="u-fs-r--b u-mb-no">Don't have a code?</h2>
    <p>
        You can <a href="/prototypes/rh-census/address.html">request a new code</a> to start a new survey if you have lost, forgotten or not received an access code.
    </p>

    <h2 class="u-fs-r--b u-mb-no">Need help?</h2>

    <p><a href="{{ url('WebChat:get') }}" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=360,height=680'); return false;">Web Chat</a></p>

{% endblock %}
