{% if display_region == 'ni' %}
    {% extends 'base-ni.html' %}
    {% if fulfillment_type == 'HI' %}
        {% set form_action = url('RequestCodeConfirmMobileHINI:post') %}
    {% else %}
        {% set form_action = url('RequestCodeConfirmMobileHHNI:post') %}
    {% endif %}
{% elif display_region == 'cy' %}
    {% extends 'base-cy.html' %}
    {% if fulfillment_type == 'HI' %}
        {% set form_action = url('RequestCodeConfirmMobileHICY:post') %}
    {% else %}
        {% set form_action = url('RequestCodeConfirmMobileHHCY:post') %}
    {% endif %}
{% else %}
    {% extends 'base-en.html' %}
    {% if fulfillment_type == 'HI' %}
        {% set form_action = url('RequestCodeConfirmMobileHIEN:post') %}
    {% else %}
        {% set form_action = url('RequestCodeConfirmMobileHHEN:post') %}
    {% endif %}
{% endif %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/radios/_macro.njk' import onsRadios %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': form_action
    }
} %}

{% set form_options = [
                {
                    'id': 'yes',
                    'label': {
                        'text': _('Yes, send the text now')
                    },
                    'value': 'yes'
                },
                {
                    'id': 'no',
                    'label': {
                        'text': _('No, I need to change it')
                    },
                    'value': 'no'
                }
            ]
%}

{% set question_description = '<p class="u-fs-r--b"><em class="highlight">' + mobile_number + '</em></p>' %}

{% block main %}

    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% call onsQuestion({
        'title': _('Is this mobile phone number correct?'),
        'description': question_description
    }) %}


{% if 'mobile' in field_messages_dict %}
    {{
        onsRadios({
            'name': 'request-mobile-confirmation',
            'radios': form_options,
            'error': {
                'text': _('Check and confirm your mobile phone number')
            }
        })
    }}
{% else %}
    {{
        onsRadios({
            'name': 'request-mobile-confirmation',
            'radios': form_options
        })
    }}
{% endif %}
    {% endcall %}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-l'
        })
    }}

{% endblock %}
