{% extends 'base-' + display_region + '.html' %}

{% if display_region == 'ni' %}
    {% set contact_us_link = domain_url_en + '/contact-us/' %}
{% elif display_region == 'cy' %}
    {% set contact_us_link = domain_url_cy + '/cysylltu-a-ni/' %}
{% else %}
    {% set contact_us_link = domain_url_en + '/contact-us/' %}
{% endif %}

{% set request_code_link = url('RequestCodeEnterAddress:get', request_type=request_type, display_region=display_region) %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/radios/_macro.njk' import onsRadios %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestCodeSelectAddress:post', request_type=request_type, display_region=display_region)
    }
} %}

{% set question_description = _('<p class="u-fs-r--b">%(total)s addresses found for postcode %(pcode)s</p>', total=total_matches|string, pcode=postcode) %}

{% block main %}

    {% if total_matches == 0: %}

        <h1>{{ _('We cannot find your address') }}</h1>

        {% autoescape false %}
            <p>{{ _('If this is incorrect you can %(start_request_code_link)senter the address%(end_link)s  again or %(start_contact_link)scontact us%(end_link)s.', start_request_code_link='<a href="%s">' % request_code_link, start_contact_link='<a href="%s">' % contact_us_link, end_link='</a>')|safe }}</p>
        {% endautoescape %}

    {% else: %}

        {% call onsQuestion({
            'title': _('Select your address'),
            'description': question_description
        }) %}

            {% if 'address-select' in field_messages_dict %}
                {{
                    onsRadios({
                        'name': 'request-address-select',
                        'or': 'Or',
                        'radios': addresses,
                        'error': {
                            'text': _('Select an address')
                        }
                    })
                }}
            {% else %}
                {{
                    onsRadios({
                        'name': 'request-address-select',
                        'or': 'Or',
                        'radios': addresses
                    })
                }}
            {% endif %}

        {% endcall %}

        {{
            onsButton({
                'text': _('Continue'),
                'classes': 'u-mt-l'
            })
        }}

    {% endif %}

{% endblock %}
