{%- extends 'base-' + display_region + '.html' -%}

{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from "components/panel/_macro.njk" import onsPanel -%}

{%- block main -%}

    <h1 class="u-mb-l u-fs-xxl">{{ _('Request an individual code') }}</h1>

    <p>{{ _('An individual access code lets you answer your census questions separately from the people you live with, so they can’t see your answers.') }}</p>

    <p>{{ _('You can choose to receive your new access code by text or post.') }}</p>

    {%- call
        onsPanel({
            'classes': 'u-mb-m'
        })
    -%}

        <p>{{ _('No one in your household will be told that you have requested an individual access code') }}</p>

    {%- endcall -%}

    <p>{{ _('Your individual answers will take priority over any information submitted about you in the household census.') }}</p>

    {{
        onsButton({
            'type': 'button',
            'text': _('Start'),
            'classes': 'u-mb-m u-mt-s',
            'url': url('CommonEnterAddress:get', display_region=display_region, user_journey='requests', sub_user_journey='individual-code'),
            'innerClasses': 'icon--chevron-right-white'
        })
    }}

{%- endblock -%}
