{% extends 'base-' + display_region + '.html' %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/input/_macro.njk' import onsInput %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestCodeEnterAddress:post', request_type=request_type, display_region=display_region)
    }
} %}

{% set question_title = _('What is your postcode') %}
{% set question_description = _('<p>To text you a new code we need to know the address for which you are answering.</p>') %}

{% block main %}

    {% include 'partials/enter-address.html' with context %}

{% endblock %}
