{%- extends 'base-' + display_region + '.html' -%}

{%- set messages_dict=dict(get_flashed_messages()|groupby('level')) -%}
{%- set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/radios/_macro.njk' import onsRadios -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestCodeConfirmMobile:post', request_type=request_type, display_region=display_region)
    }
} -%}

{%- set form_options = [
                {
                    'id': 'yes',
                    'label': {
                        'text': _('Yes, send the text')
                    },
                    'value': 'yes'
                },
                {
                    'id': 'no',
                    'label': {
                        'text': _('No, I need to change it')
                    },
                    'value': 'no'
                }
            ]
-%}

{%- if 'no-selection' in field_messages_dict -%}
    {%- set error_mobile = {'text': _('Select an answer')} -%}
{%- endif -%}

{%- block main -%}

    {%- if messages_dict -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- call onsQuestion({
        'title': _('Is this mobile phone number correct?'),
        'description': '<p class="js-mobile-no">'|safe + submitted_mobile_number + '</p>'|safe
    }) -%}

        {{
            onsRadios({
                'name': 'request-mobile-confirmation',
                'radios': form_options,
                'error': error_mobile
            })
        }}

    {%- endcall -%}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-l'
        })
    }}

{%- endblock -%}
