{%- extends 'base-' + display_region + '.html' -%}

{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from "components/collapsible/_macro.njk" import onsCollapsible -%}
{%- from "components/panel/_macro.njk" import onsPanel -%}

{%- set request_individual_code_link = url('RequestIndividualForm:get', display_region=display_region) -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestHouseholdForm:post', display_region=display_region)
    }
} -%}

{%- block main -%}

    <h1 class="u-fs-xxl">{{ _('Request a household paper questionnaire') }}</h1>

    <p>{{ _('A household paper questionnaire lets you fill in a new census for your household and the people who live there.') }}</p>

    <p>{{ _('All households should complete the census on <strong>Sunday 21 March 2021</strong> or as soon as possible after.') }}</p>

    {%- set content -%}
        <p>{{ _('If you need to answer separately from the people you live with, you can request an individual paper questionnaire to fill in a separate census.') }}</p>
        {%- autoescape false -%}
            <p><a href="{{ request_individual_code_link }}">{{ _('Request an individual paper questionnaire') }}</a></p>
        {%- endautoescape -%}
        {%- call onsPanel({
                'type': 'warn'
            })
        -%}
        <p><strong>{{ _('Someone in your household must still complete a census using a household access code or by completing a household paper questionnaire')}}</strong></p>
        {%- endcall -%}
    {%- endset -%}

    {%- call onsCollapsible({
            'id': 'collapsible',
            'title': _('Need to answer separately from your household?'),
            'titleTag': 'h2',
            'button': {
                'close': _('Hide this'),
                'contextSuffix': 'content'
            }
        })
    -%}
        {{ content | safe }}
    {%- endcall -%}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mb-m u-mt-l',
            'icon': {
                'iconType': 'chevron',
                'iconPosition': 'after'
            }
        })
    }}

{%- endblock -%}
