{% extends 'base-' + display_region + '.html' %}

{% set request_manager_code_url = url('RequestCodeSelectMethod:get', display_region=display_region, request_type='access-code') %}

{% block main %}
    <h1 class="u-fs-xl">{{ _('We cannot send census forms to managers by post') }}</h1>

    {% autoescape false %}
        <p>{{ _('If you are able to complete the census online, you can %(open)srequest a manager access code%(close)s to be sent by text message. As soon as the text arrives, you can start the census.', open='<a href="%s">' % request_manager_code_url, close='</a>')|safe }}</p>
    {% endautoescape %}

    <p>{{ _('If this is not possible, you can call us free on %(telephone_number)s to complete the census another way.', telephone_number=call_centre_number)|safe }}</p>

{% endblock %}