{% if display_region == "ni" %}
    {% extends "base-ni.html" %}
    {% set button_url = url('RequestCodeEnterAddressHINI:post') %}
{% elif display_region == "cy" %}
    {% extends "base-cy.html" %}
    {% set button_url = url('RequestCodeEnterAddressHICY:post') %}
{% else %}
    {% extends "base-en.html" %}
    {% set button_url = url('RequestCodeEnterAddressHIEN:post') %}
{% endif %}

{% from "components/button/_macro.njk" import onsButton %}

{% block main %}
    <h1 class="u-mb-l u-fs-xxl">{{ _("Request an individual access code") }}</h1>

    <p>{{ _("To do the census online you need a 16 character unique access code.") }}</p>

    <p>{{ _("If you are in a rehearsal area and don’t have a code you can get a new one.") }}</p>

    <p>{{ _("You will need to provide:") }}</p>
    <ul>
        <li>{{ _("your mobile phone number so we can send you the code by text") }}</li>
        <li>{{ _("your address so we can confirm you are in the rehearsal area") }}</li>
    </ul>

    {{
        onsButton({
            "type": 'button',
            "text": _('Request an individual code'),
            "classes": 'u-mb-m',
            "url": button_url,
            "innerClasses": "icon--chevron-right-white"
        })
    }}

{% endblock %}