{% extends 'base-' + display_region + '.html' %}

{% if display_region == 'ni' %}
    {% if fulfillment_type == 'HI' %}
        {% set request_code_link = url('RequestCodeEnterAddressHINI:post') %}
    {% else %}
        {% set request_code_link = url('RequestCodeEnterAddressHHNI:post') %}
    {% endif %}
{% elif display_region == 'cy' %}
    {% if fulfillment_type == 'HI' %}
        {% set request_code_link = url('RequestCodeEnterAddressHICY:post') %}
    {% else %}
        {% set request_code_link = url('RequestCodeEnterAddressHHCY:post') %}
    {% endif %}
{% else %}
    {% if fulfillment_type == 'HI' %}
        {% set request_code_link = url('RequestCodeEnterAddressHIEN:post') %}
    {% else %}
        {% set request_code_link = url('RequestCodeEnterAddressHHEN:post') %}
    {% endif %}
{% endif %}

{% set start_survey_link = url('Start:get', display_region=display_region) %}

{% from 'components/button/_macro.njk' import onsButton %}
{% from 'macros/telephone/_macro.njk' import rhTelephone %}

{% set formatted_mobile_number = rhTelephone({'number': mobile_number}) %}

{% block main %}
    <h1 class="u-mt-l">{{ _('We have sent an access code to <br>%(mobile_no)s', mobile_no=formatted_mobile_number)|safe }}</h1>

    <p>{{ _('A text with the code should arrive shortly. Once you get the code, you can start the survey.') }}</p>

    {{
        onsButton({
            'type': 'button',
            'text': _('Start your survey'),
            'classes': 'u-mb-m',
            'url': start_survey_link,
            'innerClasses': 'icon--chevron-right-white'
        })
    }}

    <h2>{{ _("Didn't receive a text?") }}</h2>

    {% autoescape false %}
        <p>{{ _("It can take a few minutes for the text to arrive. If it doesn't arrive, you can %(open)srequest a new code%(close)s.", open='<a href="%s">' % request_code_link, close='</a>')|safe }}</p>
    {% endautoescape %}

{% endblock %}
