{% extends 'base-' + display_region + '.html' %}

{% if display_region == 'ni' %}
    {% set census_home_link = domain_url_ni %}
{% elif display_region == 'cy' %}
    {% set census_home_link = domain_url_cy %}
{% else %}
    {% set census_home_link = domain_url_en %}
{% endif %}

{% block main %}
    <h1>{{ _('Your request for a paper form has been cancelled') }}</h1>

    {% autoescape false %}
        <p>{{ _('Return to the %(open)scensus homepage%(close)s.', open='<a href="%s">' % census_home_link, close='</a>')|safe }}</p>
    {% endautoescape %}

{% endblock %}