{% extends 'base-' + display_region + '.html' %}

{% set request_enter_address_url = url('CommonEnterAddress:get', display_region=display_region, user_journey=user_journey, sub_user_journey=sub_user_journey) %}

{% from 'components/panel/_macro.njk' import onsPanel %}

{% block main %}
    <h1>{{ _('Sorry, you need to start again') }}</h1>

    <p>This is because you’ve either:</p>
    <ul>
        <li>been inactive for 45 minutes and your session has timed out to protect your information</li>
        {%- if sub_user_journey == 'access-code' -%}
            <li>followed a link to the middle of a request for a new access code</li>
        {%- else -%}
            <li>followed a link to the middle of a request for a paper census questionnaire</li>
        {%- endif -%}
    </ul>

    {%- if sub_user_journey == 'access-code' -%}
        {% autoescape false %}
            <p>{{ _('You need to start again to %(open)srequest a new access code%(close)s.', open='<a href="%s">' % request_enter_address_url, close='</a>')|safe }}</p>
        {% endautoescape %}
    {%- else -%}
        {% autoescape false %}
            <p>{{ _('You need to start again to %(open)srequest a paper census questionnaire%(close)s.', open='<a href="%s">' % request_enter_address_url, close='</a>')|safe }}</p>
        {% endautoescape %}
    {%- endif -%}

{% endblock %}
