{% extends 'base-' + display_region + '.html' %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/input/_macro.njk' import onsInput %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestCommonEnterName:post', request_type=request_type, display_region=display_region)
    }
} %}

{%- if 'error_first_name_len' in field_messages_dict -%}
    {%- set error_first_name = {'id': 'error_first_name_len', 'text': _('You have entered too many characters. Enter up to 35 characters')} -%}
{%- elif 'error_first_name' in field_messages_dict -%}
    {%- set error_first_name = {'id': 'error_first_name', 'text': _('Enter your first name')} -%}
{%- endif -%}
{%- if 'error_last_name_len' in field_messages_dict -%}
    {%- set error_last_name = {'id': 'error_last_name_len', 'text': _('You have entered too many characters. Enter up to 35 characters')} -%}
{%- elif 'error_last_name' in field_messages_dict -%}
    {%- set error_last_name = {'id': 'error_last_name', 'text': _('Enter your last name')} -%}
{%- endif -%}

{%- if (sub_user_journey == 'paper-questionnaire') or (sub_user_journey == 'continuation-questionnaire') -%}
    {%- set question_description = _('<p>This is who the questionnaire will be addressed to</p>') -%}
{%- else -%}
    {%- set question_description = _('<p>This is who the letter will be addressed to</p>') -%}
{%- endif -%}

{% block main %}

    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% call onsQuestion({
        'title': _('What is your name?'),
        'description': question_description
    }) %}

{%- if ('error_last_name' in field_messages_dict) or ('error_last_name_len' in field_messages_dict) -%}
    {%- if 'error_last_name_len' in field_messages_dict -%}
        {%- set error_dict = field_messages_dict['error_last_name_len'] -%}
    {%- else -%}
        {%- set error_dict = field_messages_dict['error_last_name'] -%}
    {%- endif -%}
    {%- for fields in error_dict -%}

        {{
            onsInput({
                'id': 'name_first_name',
                'label': {
                    'text': _('First name')
                },
                'value': fields.value_first_name,
                'name': 'name_first_name',
                'error': error_first_name,
                'charCheckLimit': {
                    'limit': 35,
                    'charCountOverLimitSingular': _('{x} character too many'),
                    'charCountOverLimitPlural': _('{x} characters too many'),
                    'charCountSingular': _('You have {x} character remaining'),
                    'charCountPlural': _('You have {x} characters remaining')
                }
            })
        }}

    {%- endfor -%}
{%- else -%}

        {{
            onsInput({
                'id': 'name_first_name',
                'label': {
                    'text': _('First name')
                },
                'value': first_name,
                'name': 'name_first_name',
                'error': error_first_name,
                'charCheckLimit': {
                    'limit': 35,
                    'charCountOverLimitSingular': _('{x} character too many'),
                    'charCountOverLimitPlural': _('{x} characters too many'),
                    'charCountSingular': _('You have {x} character remaining'),
                    'charCountPlural': _('You have {x} characters remaining')
                }
            })
        }}

{%- endif -%}

{%- if ('error_first_name' in field_messages_dict) or ('error_first_name_len' in field_messages_dict) -%}
    {%- if 'error_first_name_len' in field_messages_dict -%}
        {%- set error_dict = field_messages_dict['error_first_name_len'] -%}
    {%- else -%}
        {%- set error_dict = field_messages_dict['error_first_name'] -%}
    {%- endif -%}
    {%- for fields in error_dict -%}

        {{
            onsInput({
                'id': 'name_last_name',
                'label': {
                    'text': _('Last name')
                },
                'value': fields.value_last_name,
                'name': 'name_last_name',
                'error': error_last_name,
                'charCheckLimit': {
                    'limit': 35,
                    'charCountOverLimitSingular': _('{x} character too many'),
                    'charCountOverLimitPlural': _('{x} characters too many'),
                    'charCountSingular': _('You have {x} character remaining'),
                    'charCountPlural': _('You have {x} characters remaining')
                }
            })
        }}

    {%- endfor -%}
{%- else -%}

        {{
            onsInput({
                'id': 'name_last_name',
                'label': {
                    'text': _('Last name')
                },
                'value': last_name,
                'name': 'name_last_name',
                'error': error_last_name,
                'charCheckLimit': {
                    'limit': 35,
                    'charCountOverLimitSingular': _('{x} character too many'),
                    'charCountOverLimitPlural': _('{x} characters too many'),
                    'charCountSingular': _('You have {x} character remaining'),
                    'charCountPlural': _('You have {x} characters remaining')
                }
            })
        }}

{%- endif -%}




    {% endcall %}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-l'
        })
    }}

{% endblock %}