{%- extends 'base-' + display_region + '.html' -%}

{%- set messages_dict=dict(get_flashed_messages()|groupby('level')) -%}
{%- set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/radios/_macro.njk' import onsRadios -%}

{%- set request_individual_code_link = url('RequestCodeIndividual:get', display_region=display_region) -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestCodeSelectHowToReceive:post', request_type=request_type, display_region=display_region)
    }
} -%}

{%- if 'nothing-chosen' in field_messages_dict -%}
    {%- set error_radio = {'id': 'nothing-chosen', 'text': _('Select an answer')} -%}
{%- endif -%}

{%- set form_options = [
        {
            'id': 'sms',
            'label': {
                'text': _('Text message'),
                'description': _('We will need your mobile number for this')
            },
            'value': 'sms'
        },
        {
            'id': 'post',
            'label': {
                'text': _('Post'),
                'description': _('We can only send access codes to the registered household address')
            },
            'value': 'post'
        }
    ]
-%}

{%- if (individual == True) -%}
    {%- set question_title = _('How would you like to receive an individual access code?') -%}
{%- elif (case_type == 'CE' and address_level == 'E') -%}
    {%- set question_title = _('How would you like to receive a new manager access code?') -%}
{%- else -%}
    {%- set question_title = _('How would you like to receive a new household access code?') -%}
{%- endif -%}

{%- block main -%}

    {%- if messages_dict -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- call onsQuestion({
        'title': question_title,
    }) -%}

        {{
            onsRadios({
                'name': 'form-select-method',
                'legend': _('Select how to send access code'),
                'radios': form_options,
                'error': error_radio
            })
        }}

    {%- endcall -%}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-xl u-mb-xl'
        })
    }}

    {%- autoescape false -%}
        <p>{{ _('To request a census in a different format or for further help, please %(open)scontact us%(close)s.', open='<a href="%s">' % contact_us_link, close='</a>')|safe }}</p>
    {%- endautoescape -%}

{%- endblock -%}
