{% extends 'base-' + display_region + '.html' %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/input/_macro.njk' import onsInput %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestCodeEnterMobile:post', request_type=request_type, display_region=display_region)
    }
} %}

{% block main %}

    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% call onsQuestion({
        'title': _('What is your mobile phone number?'),
    }) %}

        {% if 'mobile' in field_messages_dict %}

            {{
                onsInput({
                    'id': 'telephone',
                    'type': 'tel',
                    'autocomplete': 'tel',
                    'label': {
                        'text': _('UK mobile phone number'),
                        'description': _('This will not be stored and only used once to send the access code')
                    },
                    'name': 'request-mobile-number',
                    'error': {
                        'text': _('Enter a valid UK mobile phone number')
                    }
                })
            }}

        {% else %}
            {{
                onsInput({
                    'id': 'telephone',
                    'type': 'tel',
                    'autocomplete': 'tel',
                    'label': {
                        'text': _('UK mobile phone number'),
                        'description': _('This will not be stored and only used once to send the access code')
                    },
                    'name': 'request-mobile-number'
                })
            }}
        {% endif %}

    {% endcall %}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-l'
        })
    }}

{% endblock %}
