{% extends "base-en.html" %}
{% if fulfillment_type == 'HI' %}
    {% set request_link = url('RequestCodeEnterAddressHI:get') %}
{% else %}
    {% set request_link = url('RequestCodeEnterAddressHH:get') %}
{% endif %}

{% block main %}

    <h1 class="u-mt-l">Your address is not part of the 2019 rehearsal</h1>

    <p>{{ address }}</p>

    <p>Based on the address you have provided you are not required to take part. If this is incorrect you can <a href="{{ request_link }}">enter the address</a> again or find out more <a href="#">about the census rehearsal.</a></p>

{% endblock %}
