{% if display_region == "ni" %}
    {% extends "base-ni.html" %}
    {% if fulfillment_type == 'HI' %}
        {% set form_action = url('RequestCodeEnterMobileHINI:post') %}
    {% else %}
        {% set form_action = url('RequestCodeEnterMobileHHNI:post') %}
    {% endif %}
{% elif display_region == "cy" %}
    {% extends "base-cy.html" %}
    {% if fulfillment_type == 'HI' %}
        {% set form_action = url('RequestCodeEnterMobileHICY:post') %}
    {% else %}
        {% set form_action = url('RequestCodeEnterMobileHHCY:post') %}
    {% endif %}
{% else %}
    {% extends "base-en.html" %}
    {% if fulfillment_type == 'HI' %}
        {% set form_action = url('RequestCodeEnterMobileHIEN:post') %}
    {% else %}
        {% set form_action = url('RequestCodeEnterMobileHHEN:post') %}
    {% endif %}
{% endif %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}

{% set form =  {
    "method": "POST",
    "attributes": {
        "action": form_action
    }
} %}

{% block main %}

    {% if messages_dict %}
        {% include "partials/messages.html" with context %}
    {% endif %}

    {% call onsQuestion({
        "title": _("What is your mobile phone number?"),
        "description": _("<p>We will send an access code by text to this number.</p>")
    }) %}

        {% if 'mobile' in field_messages_dict %}

            {{
                onsInput({
                    "id": "telephone",
                    "type": "tel",
                    "autocomplete": "tel",
                    "classes": "input--w-8",
                    "label": {
                        "text": _("UK mobile phone number")
                    },
                    "name": "request-mobile-number",
                    "error": {
                        "text": _("Enter a valid UK mobile phone number")
                    }
                })
            }}

        {% else %}
            {{
                onsInput({
                    "id": "telephone",
                    "type": "tel",
                    "autocomplete": "tel",
                    "classes": "input--w-8",
                    "label": {
                        "text": _("UK mobile phone number")
                    },
                    "name": "request-mobile-number"
                })
            }}
        {% endif %}

    {% endcall %}
    
    {{
        onsButton({
            "text": _("Continue"),
            "classes": "u-mt-l"
        })
    }}
    
{% endblock %}