{% extends "base.html" %}

{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/select/_macro.njk" import onsSelect %}

{% set form =  {
    "method": "POST",
    "attributes": {
        "action": url('RequestCodeSelectAddress:post')
    }
} %}

{% set question_description = '<p class=\"js-piped-answer\" data-question-to-pipe=\"/request-code/enter-mobile\">Addresses for postcode ' + postcode + '</p>' %}

{% set address_select =
    onsSelect({
        "id": "select-wide",
        "name": "request-address-select",
        "label": {
            "text": "Select your address"
        },
        "classes": "input--block",
        "options": addresses
    })
%}

{% block main %}

    {% if total_matches == 0: %}

        <h1>We cannot find your address</h1>

        <p>If this is incorrect you can <a href="{{ url('RequestCode:get') }}">enter the address</a> again or <a href="#">contact us</a> for help.</p>

    {% else: %}

        {% call onsQuestion({
            "title": "Select your address",
            "description": question_description
        }) %}

            {{ address_select }}

        {% endcall %}

        {{
            onsButton({
                "text": "Continue",
                "classes": "u-mt-l"
            })
        }}

    {% endif %}

{% endblock %}