{%- extends 'base-' + display_region + '.html' -%}

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{%- if display_region == 'ni' -%}
    {%- set contact_us_link = domain_url_ni + '/contact-us/' -%}
{%- elif display_region == 'cy' -%}
    {%- set contact_us_link = domain_url_cy + '/cysylltu-a-ni/' -%}
{%- else -%}
    {%- set contact_us_link = domain_url_en + '/contact-us/' -%}
{%- endif -%}

{% if display_region == 'ni' %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_ni,
                    "text": 'Home'
                }
            ]
    %}
{% elif display_region == 'cy' %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_cy,
                    "text": 'Hafan'
                }
            ]
    %}
{% else %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_en,
                    "text": 'Home'
                }
            ]
    %}
{% endif %}

{% block preMain %}
    {{
        onsBreadcrumb({
            "ariaLabel": 'Breadcrumb',
            "itemsList": breadcrumb_items
        })
    }}
{% endblock %}

{%- block main -%}

    {%- if sub_user_journey == 'paper-questionnaire' -%}
        <h1>{{ _('You have reached the maximum number of paper questionnaires you can request online') }}</h1>
        {%- autoescape false -%}
            <p>{{ _('If you need a new paper questionnaire, please %(open)scontact us%(close)s', open='<a href="%s">' % contact_us_link, close='</a>')|safe }}</p>
        {%- endautoescape -%}
    {%- elif sub_user_journey == 'continuation-questionnaire' -%}
        <h1>{{ _('You have reached the maximum number of continuation questionnaires you can request online') }}</h1>
        {%- autoescape false -%}
            <p>{{ _('If you need a new continuation questionnaire, please %(open)scontact us%(close)s', open='<a href="%s">' % contact_us_link, close='</a>')|safe }}</p>
        {%- endautoescape -%}
    {%- else -%}
        <h1>{{ _('You have reached the maximum number of access codes you can request online') }}</h1>
        {%- autoescape false -%}
            <p>{{ _('If you need a new access code, please %(open)scontact us%(close)s', open='<a href="%s">' % contact_us_link, close='</a>')|safe }}</p>
        {%- endautoescape -%}
    {%- endif -%}


{%- endblock -%}
