{%- extends 'base-' + display_region + '.html' -%}

{%- set start_survey_link = url('Start:get', display_region=display_region) -%}
{%- set request_code_link = url('CommonEnterAddress:get', display_region=display_region, user_journey='request', sub_user_journey=request_type) -%}

{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from "components/panel/_macro.njk" import onsPanel -%}

{%- block main -%}

    {%-
        call onsPanel({
            'type': 'success',
            'id': 'success-id',
            'icon': 'check',
            'iconSize': 'l',
            'classes': 'u-mt-xl u-mb-m'
        })
    -%}

        {%- autoescape false -%}
            <h1 class="u-mb-xs u-fs-l">{{ _('A text has been sent to %(number)s', number=submitted_mobile_number|replace(" ", "&nbsp;"))|safe }} </h1>
        {%- endautoescape -%}

        {%- if (individual == True) -%}
            <p>{{ _('The text message with an individual access code should arrive soon for you to start your census') }}</p>
        {%- elif (case_type == 'CE' and address_level == 'E') -%}
            <p>{{ _('The text message with a new manager access code should arrive soon for you to start the census') }}</p>
        {%- else -%}
            <p>{{ _('The text message with a new household access code should arrive soon for you to start your census') }}</p>
        {%- endif -%}

    {%- endcall -%}

    {%-
        call onsPanel({
            'type': 'bare',
            'icon': 'lock',
            'classes': 'u-mb-l'
        })
    -%}

        <p>{{ _('The text will be sent from <strong>Census2021</strong>') }}</p>

    {%- endcall -%}

    <h2 class="u-fs-m u-mb-xs">{{ _("Didn’t receive a text?") }}</h2>

    {%- autoescape false -%}
        <p class="u-mb-l">{{ _("It can take a few minutes for the text to arrive. If it doesn’t arrive, you can %(open)srequest a new access code%(close)s.", open='<a href="%s">' % request_code_link, close='</a>')|safe }}</p>
    {%- endautoescape -%}

    <h2 class="u-mb-s u-fs-m">{{ _("Ready to start your census online?") }}</h2>

    {{
        onsButton({
            'type': 'button',
            'text': _('Start census'),
            'classes': 'u-mb-m',
            'url': start_survey_link
        })
    }}

{%- endblock -%}
