{% extends 'base-' + display_region + '.html' %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/input/_macro.njk' import onsInput %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestCommonEnterName:post', request_type=request_type, display_region=display_region)
    }
} %}

{%- if 'error_first_name' in field_messages_dict -%}
    {%- set error_first_name = {'id': 'error_first_name', 'text': _('Enter your first name')} -%}
{%- endif -%}
{%- if 'error_last_name' in field_messages_dict -%}
    {%- set error_last_name = {'id': 'error_last_name', 'text': _('Enter your last name')} -%}
{%- endif -%}

{%- if (sub_user_journey == 'paper-questionnaire') or (sub_user_journey == 'continuation-questionnaire') -%}
    {%- set question_description = _('<p>This is who the questionnaire will be addressed to</p>') -%}
{%- else -%}
    {%- set question_description = _('<p>This is who the letter will be addressed to</p>') -%}
{%- endif -%}

{% block main %}

    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% call onsQuestion({
        'title': _('What is your name?'),
        'description': question_description
    }) %}

        {{
            onsInput({
                'id': 'name_first_name',
                'label': {
                    'text': _('First name')
                },
                'value': first_name,
                'name': 'name_first_name',
                'error': error_first_name
            })
        }}

        {{
            onsInput({
                'id': 'name_last_name',
                'label': {
                    'text': _('Last name')
                },
                'value': last_name,
                'name': 'name_last_name',
                'error': error_last_name
            })
        }}

    {% endcall %}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-l'
        })
    }}

{% endblock %}