{% extends 'base-' + display_region + '.html' %}

{% if display_region == 'ni' %}
    {% set about_census_link = domain_url_en + '/ni/about-the-census/2019-rehearsal/' %}
{% elif display_region == 'cy' %}
    {% set about_census_link = domain_url_cy + '/ynglyn-ar-cyfrifiad/ymarfer-2019/' %}
{% else %}
    {% set about_census_link = domain_url_en + '/about-the-census/2019-rehearsal/' %}
{% endif %}

{% set request_code_link = url('RequestCodeEnterAddress:post', request_type=request_type, display_region=display_region) %}

{% block main %}

    <h1 class="u-mt-l">{{ _('Your address is not part of the 2019 rehearsal') }}</h1>

    <p>{{ address }}</p>

    {% autoescape false %}
        <p>{{ _('Based on the address you have provided you are not required to take part. If this is incorrect you can %(start_request_code_link)senter the address%(end_link)s  again or find out more %(start_about_census_link)sabout the census rehearsal%(end_link)s.', start_request_code_link='<a href="%s">' % request_code_link, start_about_census_link='<a href="%s">' % about_census_link, end_link='</a>')|safe }}</p>
    {% endautoescape %}

{% endblock %}
