{%- extends 'base-' + display_region + '.html' -%}

{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from "components/panel/_macro.njk" import onsPanel -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestIndividualForm:post', display_region=display_region)
    }
} -%}

{%- block main -%}

    <h1 class="u-mb-l u-fs-xxl">{{ _('Request an individual paper questionnaire') }}</h1>

    <p>{{ _('An individual paper questionnaire lets you answer your census questions separately from the people you live with, so they can’t see your answers.') }}</p>

    {%- call
        onsPanel({
            'classes': 'u-mb-m'
        })
    -%}

        <p>{{ _('No one in your household will be told that you have requested an individual paper questionnaire') }}</p>

    {%- endcall -%}

    <p>{{ _('Your individual answers will take priority over any information submitted about you in the household census.') }}</p>

    {{
        onsButton({
            'text': _('Start'),
            'classes': 'u-mb-m u-mt-s',
            'innerClasses': 'icon--chevron-right-white'
        })
    }}

{%- endblock -%}
