{%- extends 'base-' + display_region + '.html' -%}

{%- set messages_dict=dict(get_flashed_messages()|groupby('level')) -%}
{%- set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/radios/_macro.njk' import onsRadios -%}
{%- from 'components/checkboxes/_macro.njk' import onsCheckboxes -%}
{%- from "components/panel/_macro.njk" import onsPanel -%}

{%- set request_common_enter_name_link = url('RequestCommonEnterName:get', display_region=display_region, request_type=request_type) -%}
{%- set room_number_link = url('CommonEnterRoomNumber:get', display_region=display_region, user_journey='request', sub_user_journey=request_type) -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('RequestCommonConfirmSendByPost:post', display_region=display_region, request_type=request_type)
    }
} -%}

{%- if 'no-selection' in field_messages_dict -%}
    {%- set error_radio = {'id': 'no-selection', 'text': _('Select an answer')} -%}
{%- endif -%}

{%- if (request_type == 'paper-questionnaire') or (request_type == 'continuation-questionnaire') -%}
{%- set form_options = [
                    {
                        'id': 'yes',
                        'label': {
                            'text': _('Yes, send the questionnaire by post')
                        },
                        'value': 'yes'
                    },
                    {
                        'id': 'no',
                        'label': {
                            'text': _('No, cancel and return')
                        },
                        'value': 'no'
                    }
                ]
    -%}
{%- else -%}
    {%- set form_options = [
                    {
                        'id': 'yes',
                        'label': {
                            'text': _('Yes, send the access code by post')
                        },
                        'value': 'yes'
                    },
                    {
                        'id': 'no',
                        'label': {
                            'text': _('No, send it by text message')
                        },
                        'value': 'no'
                    }
                ]
    -%}
{%- endif -%}

{%- if (request_type == 'paper-questionnaire') -%}
    {%- if (individual == True) -%}
        {%- set question_title = _('Do you want to send an individual paper questionnaire to this address?') -%}
    {%- else -%}
        {%- set question_title = _('Do you want to send a household paper questionnaire to this address?') -%}
    {%- endif -%}
{%- elif (request_type == 'continuation-questionnaire') -%}
    {%- set question_title = _('Do you want to send a continuation questionnaire to this address?') -%}
{%- elif (individual == True) -%}
    {%- set question_title = _('Do you want to send an individual access code to this address?') -%}
{%- elif (case_type == 'CE' and address_level == 'E') -%}
    {%- set question_title = _('Do you want to send a new manager access code to this address?') -%}
{%- else -%}
    {%- set question_title = _('Do you want to send a new household access code to this address?') -%}
{%- endif -%}

{%- block main -%}

    {%- if messages_dict -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- call onsQuestion({ 'title': question_title }) -%}

        <p>
            {{ first_name }} {{ last_name }}{%- if roomNumber -%}, {{ roomNumber }}{%- endif -%}<br>
            {{ addressLine1 }}<br>
            {%- if addressLine2 -%}{{ addressLine2 }}<br>{%- endif -%}
            {%- if addressLine3 -%}{{ addressLine3 }}<br>{%- endif -%}
            {%- if townName -%}{{ townName }}<br>{%- endif -%}
            {{ postcode }}
        </p>

        <p class="u-mb-m"><a href="{{ request_common_enter_name_link }}">{{ _('Change name') }}</a>
            {%- if roomNumber -%}&nbsp;|&nbsp;<a href="{{ room_number_link }}">{{ _('Change flat or room number') }}</a>
            {%- elif (case_type == 'CE') -%}&nbsp;|&nbsp;<a href="{{ room_number_link }}">{{ _('Add flat or room number') }}</a>
            {%- endif -%}
        </p>

        {%- if (individual == True) -%}
            {%- call
                onsPanel({
                    'classes': 'u-mb-m'
                })
            -%}
                {%- if request_type == 'paper-questionnaire' -%}
                    <p>{{ _('Your individual paper questionnaire will arrive in a white unbranded envelope') }}</p>
                {%- else -%}
                    <p>{{ _('A letter with your individual access code will arrive in a brown unbranded envelope') }}</p>
                {%- endif -%}
            {%- endcall -%}
        {%- endif -%}

        {{
            onsRadios({
                'name': 'request-name-address-confirmation',
                'radios': form_options,
                'error': error_radio
            })
        }}

        {%- if (request_type == 'paper-questionnaire') -%}

            {{
                onsCheckboxes({
                    'legend': 'Large print',
                    'legendClasses': 'u-fs-m u-mt-l',
                    'checkboxes': [
                        {
                            'id': 'large-print-yes',
                            'name': 'request-name-address-large-print',
                            'label': {
                                'text': _('I need a large-print questionnaire')
                            },
                            'value': 'large-print'
                        }
                    ]
                })
            }}

        {%- endif -%}

    {%- endcall -%}

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-l',
            'submitType': 'loader'
        })
    }}

{%- endblock -%}
