{% if display_region == 'ni' %}
    {% extends 'base-ni.html' %}
    {% set start_link = url('IndexNI:get') %}
{% elif display_region == 'cy' %}
    {% extends 'base-cy.html' %}
    {% set start_link = url('IndexCY:get') %}
{% else %}
    {% extends 'base-en.html' %}
    {% set start_link = url('IndexEN:get') %}
{% endif %}

{% block main %}

    <h1 class="u-mt-l" data-ga="error" data-ga-category="info" data-ga-action="info-message">
        {{ _('Your progress has been saved') }}
    </h1>

    {% autoescape false %}
        <p>{{ _('You will need to %(open)senter your unique access code%(close)s to access the census again.', open='<a href="%s">' % start_link, close='</a>')|safe }}</p>
    {% endautoescape %}

{% endblock main %}
