{%- extends 'base-' + display_region + '.html' -%}

{%- set start_link = url('Start:get', display_region=display_region) -%}

{%- from "components/panel/_macro.njk" import onsPanel -%}

{%- block main -%}

    {%-
        call onsPanel({
            'type': 'success',
            'id': 'success-id',
            'icon': 'check',
            'iconSize': 'xl',
        })
    -%}

        <h1 class="u-mb-xs u-fs-xl">
            {{ _('Your progress has been saved') }}
        </h1>

    {%- endcall -%}

    {%- call onsPanel({
            'type': 'warn'
        })
    -%}

        {%- autoescape false -%}
            <p>{{ _('Keep your 16-character access code safe. You will need to enter it again to %(open)saccess your census%(close)s.', open='<a href="%s">' % start_link, close='</a>')|safe }}</p>
        {%- endautoescape -%}

    {%- endcall -%}

{%- endblock main -%}
