{%- extends 'base-ni.html' -%}

{%- block main -%}

    <h1 class="u-mt-l">This access code is not part of the census for Northern Ireland</h1>

    <p>You have entered an access code for the census in Wales.</p>

    <p>The Office for National Statistics (ONS) runs the census in England and Wales. Visit the <a href="https://www.census.gov.uk/">Office for National Statistics census website</a> to find out how to take part in the census for England and Wales.</p>

    <p>Alternatively, you can <a href="/ni/contact-us/">contact us for help</a>.</p>

{%- endblock -%}
