{% if display_region == 'ni' %}
    {% extends 'base-ni.html' %}
    {% set form_action = url('StartSelectLanguageNI:post') %}
{% elif display_region == 'cy' %}
    {% extends 'base-cy.html' %}
    {% set form_action = url('StartSelectLanguageCY:post') %}
{% else %}
    {% extends 'base-en.html' %}
    {% set form_action = url('StartSelectLanguageEN:post') %}
{% endif %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/radios/_macro.njk' import onsRadios %}
{% from 'components/button/_macro.njk' import onsButton %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': form_action
    }
} %}

{% set radio_options = [
                        {
                            'id': 'gaeilge',
                            'label': {
                                'text': 'Gaeilge'
                            },
                            'value': 'gaeilge'
                        },
                        {
                            'id': 'ulster-scotch',
                            'label': {
                                'text': 'Ulst&egrave;r-Scotch'
                            },
                            'value': 'ulster-scotch'
                        },
                        {
                            'id': 'english',
                            'label': {
                                'text': 'Continue in English'
                            },
                            'value': 'english'
                        }
                    ]
%}
{% set radio_legend = 'You can change your language back to English at any time.' %}

{% block main %}
    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% call onsQuestion({
        'title': 'Choose your language',
        'useFieldset': true
    }) %}

        {% if 'language-option' in field_messages_dict %}
            {{
                onsRadios({
                    'legend': radio_legend,
                    'name': 'language-option',
                    'or': 'Or',
                    'radios': radio_options,
                    'error': {
                        'text': 'Select a language option'
                    }
                })
            }}
        {% else %}
            {{
                onsRadios({
                    'legend': radio_legend,
                    'name': 'language-option',
                    'or': 'Or',
                    'radios': radio_options
                })
            }}
        {% endif %}

    {% endcall %}

    {{
        onsButton({
            'text': 'Continue',
            'classes': 'u-mt-l',
            'name': 'action[save_continue]'
        })
    }}

    <p class="u-mt-l"><a href="/ni/help/languages-and-accessibility/language-support/" onclick="window.open(this.href,'targetWindow','location=no,status=no,scrollbars=yes,resizable=yes'); return false;">Help in other languages</a>:<br>
        including Polish (Jezvk polski), Lithuanian (Lietuvių), Cantonese (廣東話) and Mandarin (普通話)</p>

{% endblock %}
