{% extends 'base-ni.html' %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/radios/_macro.njk' import onsRadios %}
{% from 'components/button/_macro.njk' import onsButton %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('StartNILanguageOptions:post')
    }
} %}

{% set radio_options = [
                        {
                            'id': 'yes',
                            'label': {
                                'text': 'Yes, continue in English'
                            },
                            'value': 'Yes'
                        },
                        {
                            'id': 'no',
                            'label': {
                                'text': 'No, I would like to change to Gaeilge or Ulst&egrave;r-Scotch'
                            },
                            'value': 'No'
                        }
                    ]
%}

{%- if 'error-language-option' in field_messages_dict -%}
    {%- set error_language_option = {'id': 'error-language-option', 'text': 'Select a language option'} -%}
{%- endif -%}

{% block main %}
    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% call onsQuestion({
        'title': 'Would you like to complete the census in English?',
        'useFieldset': true
    }) %}

        {{
            onsRadios({
                'name': 'language-option',
                'radios': radio_options,
                'error': error_language_option
            })
        }}

    {% endcall %}

    {{
        onsButton({
            'text': 'Continue',
            'classes': 'u-mt-l',
            'name': 'action[save_continue]'
        })
    }}

    <p class="u-mt-l"><a href="/ni/help/languages-and-accessibility/language-support/" onclick="window.open(this.href,'targetWindow','location=no,status=no,scrollbars=yes,resizable=yes'); return false;">Help in other languages</a>:<br>
        including Polish (Jezvk polski), Lithuanian (Lietuvių), Cantonese (廣東話) and Mandarin (普通話)</p>

{% endblock %}
