{% extends 'base-' + display_region + '.html' %}

{% set index_url = url('Start:get', display_region=display_region) %}
{% from 'components/panel/_macro.njk' import onsPanel %}

{% block main %}
    <h1>{{ _('Your session has timed out due to inactivity') }}</h1>
    {% call onsPanel({
        'classes': 'u-mb-m'
    }) %}
        <p>{{ _('To protect your information we have timed you out.') }}</p>
    {% endcall %}

    {% autoescape false %}
        <p>{{ _('You will need to %(open)senter your 16-character access code%(close)s again to access your census.', open='<a href="%s">' % index_url, close='</a>')|safe }}</p>
    {% endautoescape %}

{% endblock %}
