{% extends 'base-' + display_region + '.html' %}

{% set request_access_code_link = url('CommonEnterAddress:get', display_region=display_region, user_journey='requests', sub_user_journey='access-code') %}
{% set request_individual_code_link = url('RequestIndividualCode:get', display_region=display_region) %}
{% set webchat_link = url('WebChat:get', display_region=display_region) %}

{% from 'components/uac/_macro.njk' import onsUACInput %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('Start:post', display_region=display_region)
    }
} %}

{%- if 'uac' in field_messages_dict -%}
    {%- set error_uac = {
                    'id': 'uac',
                    'text': _('Enter an access code')
                }
    -%}
{%- endif -%}

{% if display_region == 'ni' %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_ni,
                    "text": 'Home'
                },
                {
                    "url": domain_url_ni + '/ni/start/#',
                    "text": 'Start census',
                    "current": true
                }
            ]
    %}
{% elif display_region == 'cy' %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_cy,
                    "text": 'Hafan'
                },
                {
                    "url": domain_url_cy + '/cy/start/#',
                    "text": 'Start census',
                    "current": true
                }
            ]
    %}
{% else %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_en,
                    "text": 'Home'
                },
                {
                    "url": domain_url_en + '/en/start/#',
                    "text": 'Start census',
                    "current": true
                }
            ]
    %}
{% endif %}

{% block preMain %}
    {{
        onsBreadcrumb({
            "ariaLabel": 'Breadcrumb',
            "itemsList": breadcrumb_items
        })
    }}
{% endblock %}

{% block main %}

    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    <h1 class="u-mt-l">{{_('Start census')}}</h1>

    {{
        onsUACInput({
            'id': 'uac',
            'name': 'uac',
            'postTextboxLinkText': _('Where to find your access code'),
            'postTextboxLinkUrl': '#',
            'label': {
                'text': _('Enter your 16-character access code'),
                'description': _('Keep this code safe. You will need to enter it every time you access your census')
            },
            'securityMessage': _('Your personal information is protected by law and will be kept confidential.'),
            'error': error_uac
        })
    }}

    {% if adlocation %}
        {{
            onsInput({
                "type": "hidden",
                "id": "adlocation",
                "name": "adlocation",
                "value": adlocation
            })
        }}
    {% endif %}

    {{ onsButton({
        'text': _('Access census'),
        'classes': 'u-mb-xl',
        'name': 'action[save_continue]'
    }) }}

    <h2>{{_("If you don’t have an access code")}}</h2>
    {% autoescape false %}
        <p>{{ _('You can %(open)srequest a new access code%(close)s to start a new census if you have lost or not received an access code. This can be sent to you by text or post.', open='<a href="%s">' % request_access_code_link, close='</a>')|safe }}</p>
    {% endautoescape %}

    {% set content %}
        {% autoescape false %}
            <p>{{ _('If you need to answer separately from the people you live with, you can %(open)srequest an individual access code%(close)s to start a separate census.', open='<a href="%s">' % request_individual_code_link, close='</a>')|safe }}</p>
        {% endautoescape %}
        {% call onsPanel({
                'type': 'warn'
            })
        %}
        <p><strong>{{ _('Someone in your household must still complete a census using a household access code')}}</strong></p>
        {% endcall %}
    {% endset %}

    {% call onsCollapsible({
            'id': 'collapsible',
            'title': _('Need to answer separately from your household?'),
            'titleTag': 'h2',
            'button': {
                'close': _('Hide this'),
                'contextSuffix': 'content'
            }
        })
    %}
        {{ content | safe }}
    {% endcall %}

    {{ onsButton({
        'text': _('Web chat'),
        "type": 'button',
        "classes": 'u-mb-m, u-mt-s',
        "url": webchat_link,
        "newWindow": true
        })
    }}

{% endblock %}
