{%- extends 'base-' + display_region + '.html' -%}

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% if display_region == 'ni' %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_ni,
                    "text": 'Home'
                }
            ]
    %}
{% elif display_region == 'cy' %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_cy,
                    "text": 'Hafan'
                }
            ]
    %}
{% else %}
    {% set breadcrumb_items = [
                {
                    "url": domain_url_en,
                    "text": 'Home'
                }
            ]
    %}
{% endif %}

{% block preMain %}
    {{
        onsBreadcrumb({
            "ariaLabel": 'Breadcrumb',
            "itemsList": breadcrumb_items
        })
    }}
{% endblock %}

{%- block main -%}

    <h1>{{ _('Sorry, too many people are using this service') }}</h1>

    <p>{{ _('We need to limit the number of people accessing the census during busy times.') }}</p>

    <p>{{ _('You can complete your census after Sunday 21 March.') }}</p>

    {%- call onsPanel({
            'type': 'warn'
        })
    -%}

        {%- autoescape false -%}
            <p>{{ _('Keep your 16-character access code safe. You will need it every time you access your census.') }}</p>
        {%- endautoescape -%}

    {%- endcall -%}
{%- endblock -%}
