{% extends 'base-' + display_region + '.html' %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/question/_macro.njk' import onsQuestion %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/input/_macro.njk' import onsInput %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('StartUnlinkedEnterAddress:post', display_region=display_region)
    }
} %}

{% set question_title = _('What is your postcode') %}
{% set question_description = _('<p>This will enable us to associate your code to your address</p>') %}

{% block main %}

    <h1 class="u-mb-l u-fs-xxl">{{_('Please supply your address')}}</h1>

    <p>{{_('The access code that you have entered is not currently linked to an address. Please select your address so we can make the link.')}}</p>

    {% include 'partials/enter-address.html' with context %}

{% endblock %}