{% extends 'base-' + display_region + '.html' %}

{% set request_household_code_link = url('RequestCode:get', request_type='household-code', display_region=display_region) %}
{% set request_individual_code_link = url('RequestCode:get', request_type='individual-code', display_region=display_region) %}
{% set webchat_link = url('WebChat:get', display_region=display_region) %}

{% from 'components/uac/_macro.njk' import onsUACInput %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}

{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}
{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('Start:post', display_region=display_region)
    }
} %}

{% block preMain %}
    {{
        onsBreadcrumb({
            "ariaLabel": 'Breadcrumb',
            "itemsList": [
                {
                    "url": '/',
                    "text": 'Home'
                },
                {
                    "url": '/#',
                    "text": 'Start census',
                    "current": true
                }
            ]
        })
    }}
{% endblock %}

{% block main %}

    <h1 class="u-mt-xs">{{_('Start census')}}</h1>

    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% if 'uac' in field_messages_dict %}
        {{
            onsUACInput({
                'id': 'uac',
                'name': 'uac',
                'postTextboxLinkText': _('Where to find your access code'),
                'postTextboxLinkUrl': '#',
                'label': {
                    'text': _('Enter your 16-character access code'),
                    'description': _('Keep this code safe. You will need to enter it every time you access your census')
                },
                'securityMessage': _('Your personal information is protected by law and will be kept confidential.'),
                'error': {
                    'id': 'uac',
                    'text': _('Enter an access code to continue')
                }
            })
        }}
    {% else %}
        {{
            onsUACInput({
                'id': 'uac',
                'name': 'uac',
                'postTextboxLinkText': _('Where to find your access code'),
                'postTextboxLinkUrl': '#',
                'label': {
                    'text': _('Enter your 16-character access code'),
                    'description': _('Keep this code safe. You will need to enter it every time you access your census')
                },
                'securityMessage': _('Your personal information is protected by law and will be kept confidential.')
            })
        }}
    {% endif %}

    {% if adlocation %}
        {{
            onsInput({
                "type": "hidden",
                "classes": "u-d-no",
                "id": "adlocation",
                "name": "adlocation",
                "value": adlocation,
                "label": {
                    "text": "Enter some text",
                    "classes": "u-d-no"
                }
            })
        }}
    {% endif %}

    {{ onsButton({
        'text': _('Access census'),
        'classes': 'u-mb-xl',
        'name': 'action[save_continue]'
    }) }}

    <h2>{{_("If you don’t have an access code")}}</h2>
    {% autoescape false %}
        <p>{{ _('You can %(open)srequest a new code%(close)s to start a new census if you have lost or not received an access code. This can be sent to you by text or post.', open='<a href="%s">' % request_household_code_link, close='</a>')|safe }}</p>
    {% endautoescape %}

    {% set content %}
        {% autoescape false %}
            <p>{{ _('If you need to answer separately from the people you live with, you can %(open)srequest an individual access code%(close)s to start a separate census.', open='<a href="%s">' % request_individual_code_link, close='</a>')|safe }}</p>
        {% endautoescape %}
        {% call onsPanel({
                'type': 'warn'
            })
        %}
        <p><strong>{{ _('Someone in your household must still complete a census using a household access code')}}</strong></p>
        {% endcall %}
    {% endset %}

    {% call onsCollapsible({
            'id': 'collapsible',
            'title': _('Need to answer separately from your household?'),
            'titleTag': 'h2',
            'button': {
                'close': _('Hide this'),
                'contextSuffix': 'content'
            }
        })
    %}
        {{ content | safe }}
    {% endcall %}

    {{ onsButton({
        'text': _('Web chat'),
        "type": 'button',
        "classes": 'u-mb-m, u-mt-s',
        "url": webchat_link,
        "newWindow": true,
        'attributes':
            {'onclick': "window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=360,height=680'); return false;"}
        })
    }}

{% endblock %}
