{% extends 'base-' + display_region + '.html' %}

{% from 'components/button/_macro.njk' import onsButton %}

{% block main %}

    <h1 class="u-mb-l u-fs-xxl">Change of region</h1>

    <p>Please note that the region display of the page has been changed to match your access code. This ensures that you are presented with the appropriate Census questions and options for your region.</p>

    {{
        onsButton({
            'type': 'button',
            'text': _('Continue'),
            'classes': 'u-mb-m',
            'url': url('StartConfirmAddress:get', display_region=display_region)
        })
    }}

{% endblock %}