{% extends 'base-' + display_region + '.html' %}

{% from 'components/button/_macro.njk' import onsButton %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('StartAddressHasBeenLinked:post', display_region=display_region)
    }
} %}

{% block main %}

    <h1 class="u-mt-l">{{ _('Your address has been linked to your code') }}</h1>

    <p>{{ _('You are now ready to start your Census questions') }}</p>

    {{
        onsButton({
            'text': _('Continue'),
            'classes': 'u-mt-l',
        })
    }}


{% endblock %}