{% extends 'base-' + display_region + '.html' %}

{% if display_region == 'ni' %}
    {% set request_code_link = url('RequestCodeHouseholdNI:get') %}
    {% set request_individual_code_link = url('RequestCodeIndividualNI:get') %}
    {% set webchat_link = url('WebChatNI:post') %}
{% elif display_region == 'cy' %}
    {% set request_code_link = url('RequestCodeHouseholdCY:get') %}
    {% set request_individual_code_link = url('RequestCodeIndividualCY:get') %}
    {% set webchat_link = url('WebChatCY:post') %}
{% else %}
    {% set request_code_link = url('RequestCodeHouseholdEN:get') %}
    {% set request_individual_code_link = url('RequestCodeIndividualEN:get') %}
    {% set webchat_link = url('WebChatEN:post') %}
{% endif %}

{% from 'components/uac/_macro.njk' import onsUACInput %}
{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/panel/_macro.njk' import onsPanel %}
{% from 'components/lists/_macro.njk' import onsList %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('Start:post', display_region=display_region)
    }
} %}

{% set uac_input = onsUACInput({
        'id': 'uac',
        'name': 'uac',
        'label': {
            'text': _('Enter the 16 character code printed on the letter'),
            'description': _('Keep this code safe and only share it with others in your household')
        },
        'securityMessage': _('Your personal information is protected by law and will be kept confidential.')
    })
%}

{% block main %}

    <h1 class="u-mt-l">{{_('Start Census')}}</h1>

    {% if messages_dict %}
        {% include 'partials/messages.html' with context %}
    {% endif %}

    {% if 'uac' in field_messages_dict %}
        {% call
            onsPanel({
                'type': 'error'
            })
        %}
        {{
            onsList({
                'id': 'link-uac',
                'classes': 'list--bare list--errors u-mb-s',
                'itemsList': [
                    {
                        'text': _('Enter a valid code')
                    }
                ]
            })
        }}
        {{ uac_input }}
        {% endcall %}
    {% else %}
        {{ uac_input }}
    {% endif %}

    {{ onsButton({
        'text': _('Access Census'),
        'classes': 'u-mb-xl',
        'name': 'action[save_continue]'
    }) }}

    <h2 class="u-fs-r--b u-mb-no">{{_("Don't have a code?")}}</h2>
    {% autoescape false %}
        <p>{{ _('You can %(open)srequest a new code%(close)s to start a new survey if you have lost, forgotten or not received an access code.', open='<a href="%s">' % request_code_link, close='</a>')|safe }}</p>
    {% endautoescape %}

    <h2 class="u-fs-r--b u-mb-no">{{_("Want to answer separately from your household?")}}</h2>
    {% autoescape false %}
        <p>{{ _('If you prefer to answer separately from the people you live with, you can  %(open)srequest an individual access code%(close)s.', open='<a href="%s">' % request_individual_code_link, close='</a>')|safe }}</p>
    {% endautoescape %}

    <h2 class="u-fs-r--b u-mb-no">{{_('Need help?')}}</h2>

    {{ onsButton({
        'text': _('Web chat'),
        "type": 'button',
        "classes": 'u-mb-m, u-mt-s',
        "url": webchat_link,
        "newWindow": true,
        'attributes':
            {'onclick': "window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=360,height=680'); return false;"}
        })
    }}

{% endblock %}
