{% extends 'base-' + display_region + '.html' %}

{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/lists/_macro.njk" import onsList %}
{% from 'macros/time/_macro.njk' import rhTime %}

{% block main %}

    <h1 class="u-mt-l u-fs-xxl">Support centres near <em class="highlight">{{ postcode }}</em></h1>

    {% for centre in ad_response['centres'] %}
        <div class="u-pb-m u-pt-m {% if loop.index > 1 %}u-bt{% endif %}">
            <h2 class="u-fs-l u-mb-xs">{{ centre['locationName'] }}</h2>
            <div><span class="u-mb-s tag">{{ centre['distanceInMiles'] }} miles away</span></div>
            {% autoescape false %}
                <p>{{ centre['address'] | replace(',', '<br>') }} <br>
                {{ centre['postcode'] }}</p>
            {% endautoescape %}
            <p><a class="icon--external-link" href="https://www.google.com/maps/search/?api=1&query={{ centre['latitude'] }},{{ centre['longitude'] }}" target="_blank" rel="noopener nofollow">Find on Google Maps</a></p>
            {{
                onsList({
                    "classes": 'list--bare',
                    "itemsList": [
                        {
                            "text": 'Telephone: ' + centre['phone']
                        },
                        {
                            "text": 'Email: <a href="mailto:' + centre['email'] + '">' + centre['email'] + '</a>'
                        }
                    ]
                })
            }}
            {% call onsCollapsible({
                "id": 'collapsible-1',
                "title": 'Opening times and facilities',
                "button": {
                    "close": 'Hide this',
                    'contextSuffix': 'content'
                }
            }) %}
            <h3 class="u-fs-r--b u-mb-xs">Opening times</h3>
            <p>
                {% for days in centre['openingHours'] %}
                    {% for day in days %}
                        {% for times in days[day] %}
                            {{ rhTime({'time': times['start'] }) }} to {{ rhTime({'time': times['finish'] }) }} - {{ day|capitalize }}<br>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </p>
            <h3 class="u-fs-r--b u-mb-xs">Centre facilities</h3>
            {% set accessibility_items = [] %}
            {% for accessibility in centre['accessibility'] %}

                    {% if accessibility['parking'] == True %}{{ accessibility_items.append( {"text": 'Public parking'}) }}{% endif %}
                    {% if accessibility['accessibleEntrance'] == True %}{{ accessibility_items.append( {"text": 'Level access into building entrance'}) }}{% endif %}
                    {% if accessibility['accessibleBuilding'] == True %}{{ accessibility_items.append( {"text": 'Wheelchair access'}) }}{% endif %}
                    {% if accessibility['disabledParking'] == True %}{{ accessibility_items.append( {"text": 'Public parking'}) }}{% endif %}
                    {% if accessibility['staffDisabilityAware'] == True %}{{ accessibility_items.append( {"text": 'Staff are disability aware'}) }}{% endif %}
                    {% if accessibility['waitingRoomSeating'] == True %}{{ accessibility_items.append( {"text": 'Public parking'}) }}{% endif %}
                    {% if accessibility['hearingLoop'] == True %}{{ accessibility_items.append( {"text": 'Hearing loop system'}) }}{% endif %}

            {% endfor %}
            {{
                onsList({
                    "itemsList": accessibility_items
                })
            }}
            {% endcall %}
        </div>
    {% endfor %}

    <div class="u-pb-m u-pt-m">
        <h2 class="u-fs-l u-mb-xs">Sheffield Central Library</h2>
        <span class="u-mb-s tag">0.7 miles away</span>
        <p>First Floor, Central Library <br> Surrey Street <br> Sheffield <br> S1 1XZ</p>
        <p><a class="icon--external-link" href="https://goo.gl/maps/X48tjZkXA4RaN3LL7" target="_blank" rel="noopener nofollow">Find on Google Maps</a></p>
        {{
            onsList({
                "classes": 'list--bare',
                "itemsList": [
                    {
                        "text": 'Telephone: 01142 734 712'
                    },
                    {
                        "text": 'Email: <a href="mailto:information.library@sheffield.gov.uk">information.library@sheffield.gov.uk</a>'
                    }
                ]
            })
        }}
        {% call onsCollapsible({
            "id": 'collapsible-1',
            "title": 'Opening times and facilities',
            "button": {
                "close": 'Hide this',
                'contextSuffix': 'content'
            }
        }) %}
        <h3 class="u-fs-r--b u-mb-xs">Opening times</h3>
        <p>9am to 4pm - Monday to Friday <br> 9am to 5pm - Saturday to Sunday (Census weekend)</p>
        <h3 class="u-fs-r--b u-mb-xs">Centre facilities</h3>
        {{
            onsList({
                "itemsList": [
                    {
                        "text": 'Public parking'
                    },
                    {
                        "text": 'Level access into building entrance'
                    },
                    {
                        "text": 'Wheelchair access'
                    },
                    {
                        "text": 'Staff are disability aware'
                    },
                    {
                        "text": 'Hearing loop system'
                    }
                ]
            })
        }}
        {% endcall %}
    </div>
    <div class="u-pb-m u-pt-m u-bt">
        <h2 class="u-fs-l u-mb-xs">University of Sheffield</h2>
        <span class="u-mb-s tag">1.7 miles away</span>
        <p>The University of Sheffield <br> Western Bank <br> Sheffield <br> S10 2TN</p>
        <p><a class="icon--external-link" href="https://goo.gl/maps/SEaVUjW2KY9wDoPE8" target="_blank" rel="noopener nofollow">Find on Google Maps</a></p>
        {{
            onsList({
                "classes": 'list--bare',
                "itemsList": [
                    {
                        "text": 'Telephone: 0114 222 2000'
                    },
                    {
                        "text": 'Email: <a href="mailto:ask@sheffield.ac.uk">ask@sheffield.gov.uk</a>'
                    }
                ]
            })
        }}
        {% call onsCollapsible({
            "id": 'collapsible-2',
            "title": 'Opening times and facilities',
            "button": {
                "close": 'Hide this',
                'contextSuffix': 'content'
            }
        }) %}
        <h3 class="u-fs-r--b u-mb-xs">Opening times</h3>
        <p>8am to 6pm - Monday to Friday</p>
        <h3 class="u-fs-r--b u-mb-xs">Centre facilities</h3>
        {{
            onsList({
                "itemsList": [
                    {
                        "text": 'Public parking'
                    },
                    {
                        "text": 'Level access into building entrance'
                    },
                    {
                        "text": 'Wheelchair access'
                    }
                ]
            })
        }}
        {% endcall %}
    </div>

{% endblock %}