{% extends 'base-' + display_region + '.html' %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% from 'components/button/_macro.njk' import onsButton %}
{% from 'components/input/_macro.njk' import onsInput %}

{% set form =  {
    'method': 'POST',
    'attributes': {
        'action': url('SupportCentreEnterPostcode:post', display_region=display_region)
    }
} %}

{% block main %}

    <h1 class="u-mt-l u-fs-xxl">{{ _('Find a support centre') }}</h1>

    <p>{{ _('To find your nearest support centre, we need your postcode.') }}</p>

    {% if 'postcode' in field_messages_dict %}
        {{
            onsInput({
                'id': 'postcode',
                'type': 'postcode',
                'autocomplete': 'postcode',
                'classes': 'input--w-5 u-mb-m',
                'label': {
                    'text': _('Enter your postcode')
                },
                'name': 'form-enter-postcode',
                'error': {
                    'text': _('Enter a valid UK postcode')
                },
            })
        }}
    {% else %}
        {{
            onsInput({
                'id': 'postcode',
                'type': 'postcode',
                'autocomplete': 'postcode',
                'classes': 'input--w-5 u-mb-m',
                'label': {
                    'text': _('Enter your postcode')
                },
                'name': 'form-enter-postcode'
            })
        }}
    {% endif %}

    {{
        onsButton({
            "type": 'submit',
            "text": 'Find',
            "classes": 'btn--small'
        })
    }}



{% endblock %}