{% extends 'base-' + display_region + '.html' %}

{% from "components/collapsible/_macro.njk" import onsCollapsible %}
{% from "components/lists/_macro.njk" import onsList %}
{% from 'macros/time/_macro.njk' import rhTime %}

{% block main %}

    <h1 class="u-mt-l u-fs-xxl">Support centres near <em class="highlight">{{ postcode }}</em></h1>

    {% for centre in ad_response['centres'] %}
        <div class="u-pb-m u-pt-m {% if loop.index > 1 %}u-bt{% endif %}">
            <h2 class="u-fs-l u-mb-xs">{{ centre['locationName'] }}</h2>
            <div><span class="u-mb-s tag">{{ centre['distanceInMiles'] }} miles away</span></div>
            {% autoescape false %}
                <p>{{ centre['address'] | replace(',', '<br>') }}<br>{{ centre['postcode'] }}</p>
            {% endautoescape %}
            <p><a class="icon--external-link" href="https://www.google.com/maps/search/?api=1&query={{ centre['latitude'] }},{{ centre['longitude'] }}" target="_blank" rel="noopener nofollow">Find on Google Maps</a></p>
            {{
                onsList({
                    "classes": 'list--bare',
                    "itemsList": [
                        {
                            "text": 'Telephone: ' + centre['phone']
                        },
                        {
                            "text": 'Email: <a href="mailto:' + centre['email'] + '">' + centre['email'] + '</a>'
                        }
                    ]
                })
            }}
            {% call onsCollapsible({
                "id": 'collapsible-1',
                "title": 'Opening times and facilities',
                "button": {
                    "close": 'Hide this',
                    'contextSuffix': 'content'
                }
            }) %}
            <h3 class="u-fs-r--b u-mb-xs">Opening times</h3>
            {%- for days in centre['openingHours'] -%}
                {%- for day in days -%}
                    {%- for times in days[day] %}
                        <div>{{ rhTime({'time': times['start'] }) }} to {{ rhTime({'time': times['finish'] }) }} - {{ day }}</div>
                    {% endfor -%}
                {%- endfor -%}
            {%- endfor %}
            <h3 class="u-fs-r--b u-mb-xs u-mt-m">Centre facilities</h3>
            {% set accessibility_items = [] %}
            {% for accessibility in centre['accessibility'] %}
                    {% if accessibility['parking'] == True %}{{ accessibility_items.append( {"text": 'Public parking'})|default("", True)  }}{% endif %}
                    {% if accessibility['accessibleEntrance'] == True %}{{ accessibility_items.append( {"text": 'Level access into building entrance'})|default("", True)  }}{% endif %}
                    {% if accessibility['accessibleBuilding'] == True %}{{ accessibility_items.append( {"text": 'Wheelchair access'})|default("", True)  }}{% endif %}
                    {% if accessibility['disabledParking'] == True %}{{ accessibility_items.append( {"text": 'Public parking'})|default("", True)  }}{% endif %}
                    {% if accessibility['staffDisabilityAware'] == True %}{{ accessibility_items.append( {"text": 'Staff are disability aware'})|default("", True)  }}{% endif %}
                    {% if accessibility['waitingRoomSeating'] == True %}{{ accessibility_items.append( {"text": 'Public parking'})|default("", True)  }}{% endif %}
                    {% if accessibility['hearingLoop'] == True %}{{ accessibility_items.append( {"text": 'Hearing loop system'})|default("", True)  }}{% endif %}
            {% endfor %}
            {{
                onsList({
                    "itemsList": accessibility_items
                })
            }}
            {% endcall %}
        </div>
    {% endfor %}

{% endblock %}