{% if display_region == "ni" %}
    {% extends "base-ni.html" %}
    {% set start_url = url('IndexNI:get') %}
    {% set request_code_link = url('RequestCodeEnterAddressHHNI:get') %}
    {% set request_individual_link = url('RequestCodeEnterAddressHIEN:get') %}
{% elif display_region == "cy" %}
    {% extends "base-cy.html" %}
    {% set start_url = url('IndexCY:get') %}
    {% set request_code_link = url('RequestCodeEnterAddressHHCY:get') %}
    {% set request_individual_link = url('RequestCodeEnterAddressHICY:get') %}
{% else %}
    {% extends "base-en.html" %}
    {% set start_url = url('IndexEN:get') %}
    {% set request_code_link = url('RequestCodeEnterAddressHHEN:get') %}
    {% set request_individual_link = url('RequestCodeEnterAddressHIEN:get') %}
{% endif %}

{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}
    <h1>{{ _("Your session has timed out due to inactivity") }}</h1>
    {% call onsPanel({
        "classes": "u-mb-m"
    }) %}
        <p>{{ _("To protect your information we have timed you out.") }}</p>
    {% endcall %}

    {% if fulfillment_type == 'HH' %}
        {% autoescape false %}
            <p>{{ _("You will need to %(open)sre-enter your postcode%(close)s.", open='<a href="%s">' % request_code_link, close='</a>')|safe }}</p>
        {% endautoescape %}
    {% elif  fulfillment_type == 'HI' %}
        {% autoescape false %}
            <p>{{ _("You will need to %(open)sre-enter your postcode%(close)s.", open='<a href="%s">' % request_individual_link, close='</a>')|safe }}</p>
        {% endautoescape %}
    {% else %}
        {% autoescape false %}
            <p>{{ _("You will need to %(open)sre-enter your access code%(close)s.", open='<a href="%s">' % start_url, close='</a>')|safe }}</p>
        {% endautoescape %}
    {% endif %}
{% endblock %}