{% if display_region == "ni" %}
    {% extends "base-ni.html" %}
    {% if fulfillment_type == 'HH' %}
        {% set next_message = 'You will need to <a href="{{ url('RequestCodeEnterAddressHHNI:get') }}">re-enter your postcode</a>' %}
    {% elif  fulfillment_type == 'HI' %}
        {% set next_message = 'You will need to <a href="{{ url('RequestCodeEnterAddressHINI:get') }}">re-enter your postcode</a>' %}
    {% else %}
        {% set next_message = 'You will need to <a href="{{ url('IndexNI:get') }}">re-enter your access code</a>' %}
    {% endif %}
{% elif display_region == "cy" %}
    {% extends "base-cy.html" %}
    {% if fulfillment_type == 'HH' %}
        {% set next_message = 'You will need to <a href="{{ url('RequestCodeEnterAddressHHCY:get') }}">re-enter your postcode</a>' %}
    {% elif  fulfillment_type == 'HI' %}
        {% set next_message = 'You will need to <a href="{{ url('RequestCodeEnterAddressHICY:get') }}">re-enter your postcode</a>' %}
    {% else %}
        {% set next_message = 'You will need to <a href="{{ url('IndexCY:get') }}">re-enter your access code</a>' %}
    {% endif %}
{% else %}
    {% extends "base-en.html" %}
    {% if fulfillment_type == 'HH' %}
        {% set next_message = 'You will need to <a href="{{ url('RequestCodeEnterAddressHHEN:get') }}">re-enter your postcode</a>' %}
    {% elif  fulfillment_type == 'HI' %}
        {% set next_message = 'You will need to <a href="{{ url('RequestCodeEnterAddressHIEN:get') }}">re-enter your postcode</a>' %}
    {% else %}
        {% set next_message = 'You will need to <a href="{{ url('IndexEN:get') }}">re-enter your access code</a>' %}
    {% endif %}
{% endif %}

{% from "components/panel/_macro.njk" import onsPanel %}

{% block main %}
    <h1>{{ _("Your session has timed out due to inactivity") }}</h1>
    {% call onsPanel({
        "classes": "u-mb-m"
    }) %}
        <p>{{ _("To protect your information we have timed you out.") }}</p>
    {% endcall %}

    <p>{{ next_message }}</p>
{% endblock %}