{% extends "layout/_template.njk" %}
{% set page = { 
    "title": "Census 2019 Rehearsal",
    "header": {},
    "footer": {}
} %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}

{% block main %}
    <div class="web-chat-form__body">

        {{
            onsInput({
                "id": "name",
                "label": {
                    "text": "Enter your name"
                },
                "classes": "input--w-20@m js-name"
            })
        }}

        {{
            onsInput({
                "id": "email",
                "label": {
                    "text": "Enter your email address",
                    "description": "We will send a copy of the chat to this address"
                },
                "classes": "input--w-20@m js-name"
            })
        }}

        {{
            onsRadios({
                "legend": "Select your language",
                "name": "language",
                "radios": [
                    {
                        "id": "english",
                        "label": {
                            "text": "English"
                        },
                        "value": "help"
                    },
                    {
                        "id": "welsh",
                        "label": {
                            "text": "Welsh"
                        },
                        "value": "form"
                    }
                ]
            })
        }}

        {{
            onsRadios({
                "legend": "What type of query do you have",
                "name": "query",
                "radios": [
                    {
                        "id": "help",
                        "label": {
                            "text": "I need some help"
                        },
                        "value": "help"
                    },
                    {
                        "id": "form",
                        "label": {
                            "text": "I have a query about a form"
                        },
                        "value": "form"
                    },
                    {
                        "id": "technical",
                        "label": {
                            "text": "I have a technical question"
                        },
                        "value": "technical"
                    },
                    {
                        "id": "complaint",
                        "label": {
                            "text": "I have a complaint"
                        },
                        "value": "complaint"
                    },
                    {
                        "id": "address",
                        "label": {
                            "text": "I have a query about my address"
                        },
                        "value": "address"
                    },
                    {
                        "id": "send-something",
                        "label": {
                            "text": "I need something sent to me"
                        },
                        "value": "send-something"
                    },
                    {
                        "id": "face-to-face",
                        "label": {
                            "text": "I need face to face help"
                        },
                        "value": "face-to-face"
                    }
                ]
            })
        }}

        {{
            onsButton({
                "text": "Start chat",
                "classes": "btn-group__btn u-mb-m u-mt-m"
            })

        }}
        {{
            onsButton({
                "type": 'button',
                "text": 'Close chat',
                "classes": 'btn--secondary btn-group__btn u-mb-m u-mt-m'
            })
        }}

    </div>

{% endblock %}