{% extends "base-webchat.html" %}

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% set form =  {
    "method": "POST",
    "attributes": {
        "action": url('WebChat:post')
    }
} %}

{% block main %}

  {% if messages_dict %}
    {% include "partials/messages.html" with context %}
  {% endif %}

    {% set screen_name_form_call =
        onsInput({
            "id": "screen_name",
            "name": "screen_name",
            "label": {
                "text": "Enter your name"
            },
            "value": form_value_screen_name,
            "classes": "input--w-20@m js-name"
        })
    %}

    {% set language_form_call =
        onsRadios({
            "legend": "Select your language",
            "name": "language",
            "value": form_value_language,
            "radios": [
                {
                    "id": "english",
                    "label": {
                        "text": "English"
                    },
                    "value": "english"
                },
                {
                    "id": "welsh",
                    "label": {
                        "text": "Welsh"
                    },
                    "value": "welsh"
                }
            ]
        })
    %}

    {% set query_form_call =
        onsRadios({
            "legend": "What type of query do you have",
            "name": "query",
            "value": form_value_query,
            "radios": [
                {
                    "id": "help",
                    "label": {
                        "text": "I need some help"
                    },
                    "value": "help"
                },
                {
                    "id": "form",
                    "label": {
                        "text": "I have a query about a form"
                    },
                    "value": "form"
                },
                {
                    "id": "technical",
                    "label": {
                        "text": "I have a technical question"
                    },
                    "value": "technical"
                },
                {
                    "id": "complaint",
                    "label": {
                        "text": "I have a complaint"
                    },
                    "value": "complaint"
                },
                {
                    "id": "address",
                    "label": {
                        "text": "I have a query about my address"
                    },
                    "value": "address"
                },
                {
                    "id": "send-something",
                    "label": {
                        "text": "I need something sent to me"
                    },
                    "value": "send-something"
                },
                {
                    "id": "face-to-face",
                    "label": {
                        "text": "I need face to face help"
                    },
                    "value": "face-to-face"
                }
            ]
        })
    %}

    <div class="web-chat-form__body">
        <h1>Webchat</h1>

        {% if 'screen_name' in field_messages_dict %}
            {% call
                onsPanel({
                    "type": "error"
                })
            %}
            {{
                onsList({
                    "id": 'screen_name',
                    "classes": 'list--bare list--errors u-mb-s',
                    "itemsList": [
                        {
                            "text": 'Enter your name.'
                        }
                    ]
                })
            }}
            {{ screen_name_form_call }}
            {% endcall %}
        {% else %}
            {{ screen_name_form_call }}
        {% endif %}

        {% if 'language' in field_messages_dict %}
            {% call
                onsPanel({
                    "type": "error"
                })
            %}
            {{
                onsList({
                    "id": 'language',
                    "classes": 'list--bare list--errors u-mb-s',
                    "itemsList": [
                        {
                            "text": 'Select an option'
                        }
                    ]
                })
            }}
            {{ language_form_call }}
            {% endcall %}
        {% else %}
            {{ language_form_call }}
        {% endif %}

        {% if 'query' in field_messages_dict %}
            {% call
                onsPanel({
                    "type": "error"
                })
            %}
            {{
                onsList({
                    "id": 'query',
                    "classes": 'list--bare list--errors u-mb-s',
                    "itemsList": [
                        {
                            "text": 'Select an option'
                        }
                    ]
                })
            }}
            {{ query_form_call }}
            {% endcall %}
        {% else %}
            {{ query_form_call }}
        {% endif %}

        {{
            onsButton({
                "text": "Start chat",
                "classes": "btn-group__btn u-mb-m u-mt-m"
            })

        }}
        {{
            onsButton({
                "type": 'button',
                "text": 'Close chat',
                "classes": 'btn--secondary btn-group__btn u-mb-m u-mt-m'
            })
        }}

    </div>

{% endblock %}