{% if display_region == "cy" %}
    {% extends "base-webchat-cy.html" %}
    {% set form_action = url('WebChatCY:post') %}
{% elif display_region == "ni" %}
    {% extends "base-webchat-ni.html" %}
    {% set form_action = url('WebChatNI:post') %}
{% else %}
    {% extends "base-webchat-en.html" %}
    {% set form_action = url('WebChatEN:post') %}
{% endif %}

{% from "components/input/_macro.njk" import onsInput %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set messages_dict=dict(get_flashed_messages()|groupby('level')) %}
{% set field_messages_dict=dict(messages_dict['ERROR']|groupby('field')) %}

{% set form =  {
    "method": "POST",
    "attributes": {
        "action": form_action
    }
} %}

{% block main %}

    {% if webchat_status == 'closed' %}

        <h2 class="u-mt-m u-mb-no">Webchat</h2>
        <p>Contact Centre is closed. Please contact during the working hours or <a href="/help/">Get Help Online</a></p>
        <h3 class="u-mt-m u-mb-no">Opening times</h3>
        <p>
            Monday to Friday: 8am to 7pm<br/>
            Saturday: 8am to 1pm<br/>
            Sunday / Bank Holidays: Closed<br>
            Census weekend: 8am to 4pm
        </p>

    {% else %}

        <noscript>
            <h1>Javascript disabled</h1>

            <p>Javascript on your browser is disabled. To start a Webchat session javascript needs to be enabled on your browser.</p>

            <p><a href="#">Get Help</a></p>
        </noscript>

        {% if messages_dict %}
            {% include "partials/messages.html" with context %}
        {% endif %}

        {% set country_options =
            [
                {
                    "id": "england",
                    "label": {
                        "text": "England"
                    },
                    "value": "england"
                },
                {
                    "id": "wales",
                    "label": {
                        "text": "Wales"
                    },
                    "value": "wales"
                },
                {
                    "id": "northern_ireland",
                    "label": {
                        "text": "Northern Ireland"
                    },
                    "value": "northern_ireland"
                }
            ]
        %}

        {% set query_options =
            [
                {
                    "id": "form",
                    "label": {
                        "text": "I have a question about my census form"
                    },
                    "value": "form"
                },
                {
                    "id": "technical",
                    "label": {
                        "text": "I am having technical difficulties"
                    },
                    "value": "technical"
                },
                {
                    "id": "complaint",
                    "label": {
                        "text": "I have a complaint"
                    },
                    "value": "complaint"
                },
                {
                    "id": "address",
                    "label": {
                        "text": "I have a question about my address"
                    },
                    "value": "address"
                },
                {
                    "id": "send-something",
                    "label": {
                        "text": "I need something sent to me"
                    },
                    "value": "send-something"
                },
                {
                    "id": "face-to-face",
                    "label": {
                        "text": "I need to speak to an adviser face-to-face"
                    },
                    "value": "face-to-face"
                },
                {
                    "id": "help",
                    "label": {
                        "text": "I need some help"
                    },
                    "value": "help"
                }
            ]
        %}

        <div id="web-chat-form-display" class="web-chat-form__body" style="display:none;">
            <h1>Webchat</h1>

            <p>Our advisers can help you with your census survey.</p>

            {% if 'screen_name' in field_messages_dict %}
                {{
                    onsInput({
                        "id": "screen_name",
                        "name": "screen_name",
                        "label": {
                            "text": "Enter your name"
                        },
                        "value": form_value_screen_name,
                        "classes": "input--w-20@m js-name",
                        "error": {
                            "text": "Enter your name"
                        }
                    })
                }}
            {% else %}
                {{
                    onsInput({
                        "id": "screen_name",
                        "name": "screen_name",
                        "label": {
                            "text": "Enter your name"
                        },
                        "value": form_value_screen_name,
                        "classes": "input--w-20@m js-name"
                    })
                }}
            {% endif %}

            {% if 'country' in field_messages_dict %}
                {{
                    onsRadios({
                        "legend": "Select your country",
                        "name": "country",
                        "dontVisuallyHideLegend": true,
                        "value": form_value_country,
                        "radios": country_options,
                        "error": {
                            "text": "Select an option"
                        }
                    })
                }}
            {% else %}
                {{
                    onsRadios({
                        "legend": "Select your country",
                        "name": "country",
                        "dontVisuallyHideLegend": true,
                        "value": form_value_country,
                        "radios": country_options
                    })
                }}
            {% endif %}

            {% if 'query' in field_messages_dict %}
                {{
                    onsRadios({
                        "legend": "What type of query do you have",
                        "name": "query",
                        "dontVisuallyHideLegend": true,
                        "value": form_value_query,
                        "radios": query_options,
                        "error": {
                            "text": "Select an option"
                        }
                    })
                }}
            {% else %}
                {{
                    onsRadios({
                        "legend": "What type of query do you have",
                        "name": "query",
                        "dontVisuallyHideLegend": true,
                        "value": form_value_query,
                        "radios": query_options
                    })
                }}
            {% endif %}

            {{
                onsButton({
                    "text": "Start chat",
                    "classes": "btn-group__btn u-mb-m u-mt-m"
                })

            }}

        </div>

    {% endif %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    document.getElementById('web-chat-form-display').style.display='block';
</script>

{% endblock %}