{% if display_region == 'cy' %}
    {% extends "base-webchat-cy.html" %}
{% elif display_region == "ni" %}
    {% extends "base-webchat-ni.html" %}
{% else %}
    {% extends "base-webchat-en.html" %}
{% endif %}

{% block main %}

<h1>WebChat</h1>

{% set webchat_url = webchat_url %}
{% set screen_name_param = 'im_name=' + screen_name %}
{% set subject_param = 'im_subject=ONS' %}
{% set countchars_param = 'im_countchars=1' %}
{% set email_param = 'info_email=none' %}
{% set country_param = 'info_country=' + country %}
{% set language_param = 'info_language=' + language %}
{% set query_param = 'info_query=' + query %}
{% set iframe_url = webchat_url + '?' + screen_name_param + '&' + subject_param + '&' + countchars_param + '&' + email_param + '&' + country_param + '&' + query_param + '&' + language_param %}


<iframe style="scrolling: no; margin: 0; padding: 0; border: none; width: 100%; height: 400px;"
        src="{{ iframe_url }}"></iframe>

{% endblock %}